<div class="nested-fields">
     <div class="row form-group">
          <div class="col-lg-1 mb-3">
               <%= f.hidden_field :_destroy %>
               <%= link_to "Remove", "#", class: "btn btn-danger btn-sm", data: {action: "click->nested-form#remove_association"} %>
          </div>
          <div class="col-lg-2 mb-3">
               <%= f.text_field :visit_date,
                                data: {
                                     controller: "flatpickr",
                                     flatpickr_date_format: "%A, %B %d, %Y",
                                     flatpickr_min_date: Time.zone.now.beginning_of_week(:monday)
                                } , class: "form-control form-control-user", placeholder: "Choose a date", style: "background:#fff;"%>
          </div>
          <div class="col-lg-3 mb-3">
               <%= f.text_field :visit_place, class: "form-control form-control-user", placeholder: "Input Place..." %>
          </div>
          <div class="col-lg-3 mb-3">
               <%= f.text_field :visit_account, list: "list-account", class: "form-control form-control-user", placeholder: "Input account..." %>
               <datalist id="list-account">
                    <% Customer.all.each do |customer| %>
                         <option value="<%= customer.company %>"></option>
                    <% end %>
               </datalist>
          </div>
          <div class="col-lg-3 mb-3">
               <%= f.text_field :visit_person, class: "form-control form-control-user", placeholder: "Input contact person..." %>
          </div>
     </div>
</div>
