<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Welcome Back, <%= current_user.firstname %> !</h1>
          <%  time = Time.new %>
          <h1 class="h3 mb-0 text-gray-800">Today is <%=  time.strftime("%A %B %d, %Y") %> </h1>
     </div>
     <!--  Itinerary status and summary-->
     <div class="row">
          <div class="col-xl-6 col-md-6 mb-4">
               <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Number of Itineraries</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <% count = current_user.admin? ? @itineraries_admin.count : @itineraries.count %>
                                        <% if count.equal? 0 %>
                                             <p>You don't have any itinerary created</p>
                                        <% else %>
                                             <p>You have created <%= pluralize(count, "itinerary")%></p>
                                        <% end %>
                                        <%= link_to new_itinerary_path, class: "btn btn-primary btn-icon-split"  do %>
									<span class="icon text-white-50">
									<i class="fas fa-plus"></i>
									</span>
                                             <span class="text">Create Itinerary</span>
                                        <% end %>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

          <div class="col-xl-6 col-md-6 mb-4">
               <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Status of Itinerary</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <% if current_user.admin? ? @status_admin.empty? : @status.empty? %>
                                             <p>You don't have any itinerary created</p>
                                        <% else %>
                                             <p>You have <%= pluralize(current_user.admin? ? @status_admin.where(iti_status: true).count : @status.where(iti_status: true).count, "weekly itinerary") %> approved</p>
                                             <p>You have <%= pluralize(current_user.admin? ? @status_admin.where(iti_status: false).count : @status.where(iti_status: false).count, "weekly itinerary") %> waiting for approval</p>
                                        <% end %>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-question fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>


     </div>
     <!-- End of Itinerary status and summary-->

     <!--     Display itinerary-->
     <div class="row justify-content-md-center" >
          <div class="col-lg-12">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">List of Itineraraies</h6>
                    </div>
                    <% if @itineraries.empty?  %>
                         <div class="card-body">
                              <div class="alert alert-info py-5">
                                   <h1 class="h1 mb-0 text-gray-800 text-center">List of approved itineraries is empty</h1>
                              </div>
                         </div>
                    <% end %>
                    <div class="card-body custom-hover">
                         <% @itineraries.each do |itinerary| %>
                              <%= link_to itinerary do %>
                                   <div class="row">
                                        <div class="col-xl-12 col-md-12 mb-4">
                                             <div class="card border-left-primary shadow h-100 py-2 itinerary-hover">
                                                  <div class="card-body">
                                                       <div class="row no-gutters align-items-center">
                                                            <div class="col-lg-6">
                                                                 <div class="font-weight-bold text-primary mb-2"><%=  "date period: ".titleize + itinerary.iti_period_from.strftime("%A %B %-d, %Y").concat(" to ").concat(itinerary.iti_period_to.strftime("%A %B %-d, %Y")) %></div>                                                                 <div class="h5 mb-1 font-weight-bold text-gray-800">
                                                            </div>
                                                                 <div class="h4 mb-1 text-gray-800">
                                                                      Number of People To Visit: <%= itinerary.visit_lists.count %>
                                                                 </div>
                                                                 <% unless current_user.admin? || current_user.admin2? %>
                                                                      <em>You cannot create another itinerary for this week, edit/modify your weekly itinerary instead.</em>
                                                                 <% end %>
                                                                 <% if current_user.admin? || current_user.admin2?%>
                                                                      <h1 class="h5 mb-0 text-gray-800"><em><%= itinerary.user.lastname.concat(", ").concat(itinerary.user.firstname) %></em></h1>
                                                                 <% end %>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                 <span>
                                                                      <%= cl_image_tag("approved_wruqds", class: "float-right",  :width=>200, :crop=>"scale") %>

                                                                 </span>

                                                            </div>

                                                       </div>
                                                  </div>
                                             </div>
                                        </div>

                                   </div>
                              <% end  %>
                         <% end %>
                    </div>
               </div>
          </div>
     </div>
     <!--     End of display itinerary-->


</div>

