<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Weekly Itinerary</h1>
     </div>

     <!--start create intinerary-->
     <%= form_for @itinerary, html: {class: "user"} do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Date Covered: <%= Time.zone.now.beginning_of_week(:monday).strftime("%A %B %-d,  %Y") %> to  <%= Time.zone.now.end_of_week(:sunday).strftime("%A %B %-d, %Y") %></h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group">
                                        <div class="col-lg-4">
                                             <%= f.label :name %>
                                             <%= text_field_tag :name, @itinerary.user.firstname.concat(" ").concat(@itinerary.user.lastname), class: "form-control form-control-user", disabled: true, style: "background:#fff;" %>
                                        </div>
                                        <div class="col-lg-4">
                                             <%= f.label :iti_period_from, "Date From" %>
                                             <%  var = Time.zone.now.beginning_of_week
                                                  unless @itinerary_last.nil?
                                                       if @itinerary_last.iti_created? and (@itinerary_last.iti_period_from >= Time.zone.now.beginning_of_week and @itinerary_last.iti_period_to <= Time.zone.now.end_of_week)
                                                            var = Time.zone.now.next_week
                                                       end
                                                  end
                                             %>
                                            <%= f.text_field :iti_period_from,
                                                              data: {
                                                                   controller: "flatpickr",
                                                                   flatpickr_date_format: "%A, %B %d, %Y",
                                                                   flatpickr_min_date:  var

                                                              } , class: "form-control form-control-user", placeholder: "Choose a date", style: "background:#fff;"%>
                                        </div>
                                        <div class="col-lg-4">
                                             <%= f.label :iti_period_to, "Date To" %>
                                             <%= f.text_field :iti_period_to,
                                                              data: {
                                                                   controller: "flatpickr",
                                                                   flatpickr_date_format: "%A, %B %d, %Y",
                                                                   flatpickr_min_date:  var
                                                              } , class: "form-control form-control-user", placeholder: "Choose a date", style: "background:#fff;"%>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">To Visit</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row interested-party">
                                        <div class="col-lg-1 mb-3" style="font-weight: bold;">Action</div>
                                        <div class="col-lg-2" style="font-weight: bold;">Date</div>
                                        <div class="col-lg-3" style="font-weight: bold;">Place</div>
                                        <div class="col-lg-3" style="font-weight: bold;">Account</div>
                                        <div class="col-lg-3" style="font-weight: bold;">Person To Visit</div>
                                   </div>
                                   <div data-controller="nested-form">
                                        <template data-target='nested-form.template'>
                                             <%= f.fields_for :visit_lists, VisitList.new, child_index: 'TEMPLATE_RECORD' do |visit_list| %>
                                                  <%= render 'visit_list_fields', f: visit_list %>
                                             <% end %>
                                        </template>
                                        <%= f.fields_for :visit_lists do |visit_list| %>
                                             <%= render 'visit_list_fields', f: visit_list %>
                                        <% end %>
                                        <div data-target="nested-form.add_item">
                                             <%= link_to "Add Person to Visit", "#", class: "btn btn-primary", data: { action: "nested-form#add_association" } %>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-3">

               </div>
               <div class="col-6">
                    <%= f.button :submit, class: "btn btn-primary btn-block btn-user" do  %>
                         <i class="fas fa-plus"></i> Add Itinerary
                    <% end  %>
               </div>
               <div class="col-3"></div>
          </div>
     <% end %>

     <!--end create itinerary-->
</div>
