<div class="container-fluid">
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Week Itinerary
          </h1>
     </div>
     <% admin = current_user.admin? || current_user.admin2? %>
     <% owner = current_user.itineraries.find_by(id: @itinerary.id).present? %>
     <form class="user">
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Itinerary Details<% %></h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group mb-5">
                                        <div class="col-lg-4 mb-3">
                                             <input type="text" value="<%= @itinerary.user.firstname.concat(" ").concat(@itinerary.user.lastname) %>" class="form-control form-control-user" style="background: #fff;" disabled>
                                        </div>
                                        <div class="col-lg-4 mb-3">
                                             <input type="text" value="<%= @itinerary.iti_period_from.strftime("%A %B %-d, %Y") %>" class="form-control form-control-user" style="background: #fff;" disabled>
                                        </div>
                                        <div class="col-lg-4 mb-3">
                                             <input type="text" value="<%= @itinerary.iti_period_to.strftime("%A %B %-d, %Y") %>" class="form-control form-control-user" style="background: #fff;" disabled>
                                        </div>
                                   </div>
                                   <div class="row table-responsive mb-3">
                                        <div class="col-lg-12">
                                             <table class="table table-striped">
                                                  <thead>
                                                  <tr>
                                                       <th scope="col">Action</th>
                                                       <th scope="col">Date</th>
                                                       <th scope="col">Place</th>
                                                       <th scope="col">Account</th>
                                                       <th scope="col">Person To Visit</th>
                                                       <th scope="col">Status</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody>

                                                  <% @itinerary.visit_lists.all.order(:visit_date).each do |itinerary| %>
                                                       <tr>
                                                            <td>
                                                                 <% if admin or owner %>
                                                                      <% if @itinerary.iti_status? %>
                                                                           <% disabled_button = itinerary.visit_completed? ? "disabled" : "" %>
                                                                           <%= link_to "Update To Visited", update_status_visit_list_itinerary_url(itinerary), class: "btn btn-primary #{disabled_button}" %>
                                                                      <% else %>
                                                                           <p>For approval</p>
                                                                      <% end %>
                                                                 <% else %>
                                                                      <p>This section is reserved of the owner fo the itinerary</p>
                                                                 <% end %>
                                                            </td>
                                                            <td><%= itinerary.visit_date.strftime("%A %B %-d, %Y") %></td>
                                                            <td><%= itinerary.visit_place %></td>
                                                            <td><%= itinerary.visit_account %></td>
                                                            <td><%= itinerary.visit_person %></td>
                                                            <td>

                                                                      <% if itinerary.visit_completed? %>
                                                                           Visited
                                                                      <% else %>
                                                                           To be visited
                                                                      <% end %>

                                                            </td>

                                                       </tr>
                                                  <% end %>
                                                  </tbody>
                                             </table>
                                        </div>
                                   </div>

                                   <div class="row">
                                        <div class="col-lg-12">
                                             <h1 class="h5 mb-0 text-gray-800 mb-2">
                                                  Prepared by: <%= @itinerary.user.firstname + " " + @itinerary.user.lastname %>
                                             </h1>
                                             <h1 class="h6 mb-0 text-gray-800">
                                                  Prepared by: <%= @itinerary.user.job.title %>
                                             </h1>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </form>

     <!--start buttons-->
     <% if admin %>
          <% disabled_button = @itinerary.iti_status? ? "disabled" : "" %>
          <div class="row">
               <div class="col-lg-6 mb-3">
                    <%= link_to approve_itinerary_url, class: "btn btn-primary btn-icon-split btn-block btn-lg #{disabled_button}"  do %>
                                             <span class="icon text-white-50">
                                             <i class="fas fa-thumbs-up"></i>
                                             </span>
                         <span class="text">Approve</span>
                    <% end %>

               </div>
               <div class="col-lg-6 mb-3">
                    <%= link_to reject_itinerary_url, class: "btn btn-secondary btn-icon-split btn-block btn-lg #{disabled_button}"  do %>
                                             <span class="icon text-white-50">
                                             <i class="fas fa-thumbs-down"></i>
                                             </span>
                         <span class="text">Reject</span>
                    <% end %>
               </div>
          </div>
     <% end %>
     <% if admin or owner %>
          <% disabled_button = @itinerary.iti_status? ? "disabled" : "" %>
          <div class="row">
               <div class="col-lg-6 mb-3">
                    <%= link_to edit_itinerary_url, class: "btn btn-info btn-icon-split btn-block btn-lg #{disabled_button}"  do %>
                                             <span class="icon text-white-50">
                                             <i class="fas fa-edit"></i>
                                             </span>
                         <span class="text">Modify</span>
                    <% end %>
               </div>
               <div class="col-lg-6">
                    <%= link_to @itinerary, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-icon-split btn-block btn-lg #{disabled_button}" do %>
                                             <span class="icon text-white-50">
                                                  <i class="fas fa-trash"></i>
                                             </span>
                         <span class="text">Delete</span>
                    <% end %>
               </div>


          </div>
     <% end %>
     <!--end buttons-->
</div>


