<div class="nested-fields">
     <div class="card mb-4 py-3 border-left-info">
          <div class="card-body">
               <div class="row form-group mb-3">
                    <div class="col-lg-1 ">
                         <%= f.hidden_field :_destroy %>
                         <%= link_to "Remove", "#" , class: "btn btn-danger btn-sm", data:{action: "click->nested-form#remove_association"}%>
                    </div>
                    <div class="col-lg-8">
                         <%= f.label :item_name, "Item/Description" %>
                         <%= f.text_field :item_name, list: "product-name", class: "form-control form-control-user", placeholder: "Input item/description..." %>
                         <datalist id="product-name">
                              <% Product.all.each do |p| %>
                                   <option value="<%= p.name %>"></option>
                              <% end %>
                         </datalist>
                    </div>
                    <div class="col-lg-3">
                         <%= f.label :item_stand_price, "Standard Price" %>
                         <%= f.text_field :item_stand_price, class: "form-control form-control-user", placeholder: "Input Standard price..."  %>
                    </div>
               </div>
               <div class="row form-group">
                    <div class="col-lg-3">
                         <%= f.label :item_compe_price, "Competitor's Price" %>
                         <%= f.text_field :item_compe_price, class: "form-control form-control-user", placeholder: "Input competitor's price..." %>
                    </div>
                    <div class="col-lg-3">
                         <%= f.label :item_compe_brand, "Competitor's Brand" %>
                         <%= f.text_field :item_compe_brand, class: "form-control form-control-user", placeholder: "Input competitor's brand..."  %>
                    </div>
                    <div class="col-lg-3">
                         <%= f.label :item_recom_price, "Recommended Price" %>
                         <%= f.text_field :item_recom_price, class: "form-control form-control-user", placeholder: "Input recommended price..." %>
                    </div>
                    <div class="col-lg-3">
                         <%= f.label :item_quan_order, "Quantity to be Ordered" %>
                         <%= f.text_field :item_quan_order, class: "form-control form-control-user", placeholder: "Input quantity to be ordered" %>
                    </div>
               </div>
          </div>
     </div>
</div>
