<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Price Recommendation</h1>
     </div>

     <!--Start price recommendation-->
     <%= form_for @recommendation, html:{class: "user"} do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group">
                                        <div class="col-lg-4">
                                             <%= f.label :rec_account_name, "Name Of Account" %>
                                             <%= f.text_field :rec_account_name, list: "customer-names", class: "form-control form-control-user", placeholder: "Input account name..." %>
                                             <datalist id="customer-names">
                                                  <% Customer.all.each do |customer| %>
                                                       <option value="<%= customer.company %>"></option>
                                                  <% end %>
                                             </datalist>
                                        </div>
                                        <div class="col-lg-4">
                                             <%= f.label :rec_contact_person, "Contact Person" %>
                                             <%= f.text_field :rec_contact_person,  class: "form-control form-control-user", placeholder: "Input contact person..." %>
                                        </div>
                                        <div class="col-lg-4">
                                             <%= f.label :rec_terms, "Terms" %>
                                             <%= f.text_field :rec_terms,  class: "form-control form-control-user", placeholder: "Input terms..." %>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <!--start item details-->
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Items</h6>
                         </div>
                         <div class="card-body">
                              <div data-controller="nested-form">
                                   <template data-target='nested-form.template'>
                                        <%= f.fields_for :items, Item.new, child_index: 'TEMPLATE_RECORD' do |item| %>
                                             <%= render 'item_fields', f: item %>
                                        <% end %>
                                   </template>
                                   <%= f.fields_for :items do |item| %>
                                        <%= render 'item_fields', f: item %>
                                   <% end %>
                                   <div data-target="nested-form.add_item">
                                        <%= link_to "Add Item", "#", class: "btn btn-primary", data: { action: "nested-form#add_association" } %>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <!--end item details-->
          <div class="row">
               <div class="col-lg-3"></div>
               <div class="col-lg-6">
                    <%= f.button :submit, class: "btn btn-primary btn-user btn-block" do %>
                         <i class="fas fa-plus"></i> Save Price Recommendation
                    <% end %>

               </div>
               <div class="col-lg-3"></div>
          </div>
     <% end %>

     <!--End of price recommedation-->
</div>
