<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Welcome Back, <%= current_user.firstname %> !</h1>
          <%  time = Time.new %>
          <h1 class="h3 mb-0 text-gray-800">Today is <%=  time.strftime("%A %B %d, %Y") %> </h1>
     </div>

     <!--Number of price recommendation-->
     <div class="row">
          <div class="col-xl-6 col-md-6 mb-4">
               <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Number of Price recommendation</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <% count = current_user.admin? || current_user.admin2? ? @recommendations_admin.count : @recommendations.count%>
                                        <% if count == 0 %>
                                             <p>You don't have any price recommendation created</p>
                                        <% else %>
                                             <p>You have created <%= pluralize(count, "price recommendation") %></p>
                                        <% end %>
                                        <%= link_to new_recommendation_url, class: "btn btn-primary btn-icon-split"  do %>
									<span class="icon text-white-50">
									<i class="fas fa-plus"></i>
									</span>
                                             <span class="text">Create Price Recommendation</span>
                                        <% end %>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <!--end of price recommendation-->
          <!--status of price recommendation-->
          <div class="col-xl-6 col-md-6 mb-4">
               <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Status of Price recommendation</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <% if current_user.admin? || current_user.admin2? ? @recommendations_admin.empty? : @recommendations.empty? %>
                                             <p>You don't have any price recommendation created</p>
                                        <% else %>
                                             <p>You have <%= pluralize(current_user.admin? || current_user.admin2? ? @recommendations_admin.where(rec_status: true).count : @recommendations.where(rec_status: true).count, "price recommendation" ) %> approved<p>
                                             <p>You have <%= pluralize(current_user.admin? || current_user.admin2? ? @recommendations_admin.where(rec_status: false).count : @recommendations.where(rec_status: false).count, "price recommendation" ) %> for approval<p>
                                        <% end %>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-question fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <!--display price recommendation-->
     <div class="row justify-content-md-center" >
          <div class="col-lg-12">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">List of Price Recommendations</h6>
                    </div>
                    <% if @recommendations.empty?  %>
                         <div class="card-body">
                              <div class="alert alert-info py-5">
                                   <h1 class="h1 mb-0 text-gray-800 text-center">List of rejected price recommendations is empty</h1>
                              </div>
                         </div>
                    <% end %>
                    <div class="card-body custom-hover">
                         <% @recommendations.each do |recommendation| %>
                              <%= link_to  recommendation do %>  `
                                   <div class="row">
                                        <div class="col-xl-12 col-md-12 mb-4">
                                             <div class="card border-left-primary shadow h-100 py-2 itinerary-hover">
                                                  <div class="card-body">
                                                       <div class="row no-gutters align-items-center">
                                                            <div class="col-lg-6">
                                                                 <div class="font-weight-bold text-primary mb-2"><%=  "date filed: ".titleize + recommendation.created_at.strftime("%A %B %-d, %Y").titleize%></div>
                                                                 <div class="h5 mb-1 font-weight-bold text-gray-800">
                                                                      Account Name: <%= recommendation.rec_account_name %>
                                                                 </div>
                                                                 <div class="h6 mb-1 text-gray-800">
                                                                      Contact Person: <%= recommendation.rec_contact_person %>
                                                                 </div>

                                                            </div>
                                                            <div class="col-lg-6">
                                                                 <!--<span class="float-right"><%#=cl_image_tag("rejected_gicsnm", class: "float-right", :width=>200, :crop=>"scale") %></span>-->
                                                                 <span>
                                                                      <%=
                                                                           if recommendation.rec_rejected?
                                                                                cl_image_tag("rejected_gicsnm", class: "float-right", :width=>200, :crop=>"scale")
                                                                           else
                                                                                if recommendation.rec_status?
                                                                                     cl_image_tag("approved_wruqds", class: "float-right", :width=>200, :crop=>"scale")
                                                                                else
                                                                                     cl_image_tag("for_approval_fwcsla", class: "float-right", :width=>200, :crop=>"scale")
                                                                                end
                                                                           end
                                                                      %>
                                                                 </span>



                                                            </div>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              <% end %>
                         <% end %>
                         <div class="d-flex justify-content-center">
                              <%= will_paginate %>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- end of price recommendation-->
</div>
