<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Price Recommendation
          </h1>

     </div>
     <!--start display details-->
     <form class="user">
          <!--start details-->
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group">
                                        <div class="col-lg-4">
                                             <label>Name of Account</label>
                                             <input type="text" value="<%= @recommendation.rec_account_name %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                        <div class="col-lg-4">
                                             <label>Contact Person</label>
                                             <input type="text" value="<%= @recommendation.rec_contact_person %>"  class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                        <div class="col-lg-4">
                                             <label>Terms</label>
                                             <input type="text" value="<%= @recommendation.rec_terms %>"  class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </form>
  <!--   end display details-->
    <!-- start display items-->
     <div class="row">
          <div class="col-lg-12">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                    </div>
                    <div class="card-body">
                         <div class="card-body">
                              <div class="table-responsive">
                                   <table class="table table-striped">
                                        <thead>
                                             <tr>
                                                  <th scope="col">Item/Description</th>
                                                  <th scope="col">Standard Price</th>
                                                  <th scope="col">Competitor's Price</th>
                                                  <th scope="col">Competitor's Brand Name</th>
                                                  <th scope="col">Recommended Price</th>
                                                  <th scope="col">Quantity to be  Ordered</th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                             <% @recommendation.items.each do |item| %>
                                                  <tr>
                                                       <td><%= item.item_name %></td>
                                                       <td><%= number_with_precision(item.item_stand_price, precision: 2, delimiter: ",") %></td>
                                                       <td><%= number_with_precision(item.item_compe_price, precision: 2, delimiter: "," )%></td>
                                                       <td><%= item.item_compe_brand %></td>
                                                       <td><%= number_with_precision(item.item_recom_price, precision: 2, delimiter: ",") %></td>
                                                       <td><%= number_with_delimiter(item.item_quan_order) %></td>
                                                  </tr>
                                             <% end %>
                                        </tbody>
                                   </table>
                              </div>
                              <div class="row">
                                   <div class="col-lg-12">
                                        <h1 class="h5 mb-0 text-gray-800 mb-2">
                                             Prepared by: <%= @recommendation.user.firstname + " " + @recommendation.user.lastname %>
                                        </h1>
                                        <h1 class="h6 mb-0 text-gray-800">
                                             Prepared by: <%= @recommendation.user.job.title %>
                                        </h1>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!--end display items-->
     <% disabled_button = @recommendation.rec_status? ? "disabled" : "" %>
     <% if current_user.admin? || current_user.admin2? %>

          <div class="row">
               <div class="col-lg-6 mb-3">
                    <%= link_to approve_recommendation_url, class: "btn btn-primary btn-icon-split btn-block btn-lg #{disabled_button}"  do %>
                                             <span class="icon text-white-50">
                                             <i class="fas fa-thumbs-up"></i>
                                             </span>
                         <span class="text">Approve</span>
                    <% end %>

               </div>
               <div class="col-lg-6 mb-3">
                    <%= link_to reject_recommendation_url, class: "btn btn-secondary btn-icon-split btn-block btn-lg #{disabled_button}"  do %>
                                             <span class="icon text-white-50">
                                             <i class="fas fa-thumbs-down"></i>
                                             </span>
                         <span class="text">Reject</span>
                    <% end %>
               </div>
          </div>
     <% end %>
     <div class="row">
          <div class="col-lg-6">
               <%= link_to edit_recommendation_url, class: "btn btn-info btn-icon-split btn-block btn-lg #{disabled_button}"  do %>
                                             <span class="icon text-white-50">
                                             <i class="fas fa-edit"></i>
                                             </span>
                    <span class="text">Modify</span>
               <% end %>
          </div>
          <div class="col-lg-6">
               <%= link_to @expense, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-icon-split btn-block btn-lg #{disabled_button}" do %>
                                             <span class="icon text-white-50">
                                                  <i class="fas fa-trash"></i>
                                             </span>
                    <span class="text">Delete</span>
               <% end %>
          </div>
     </div>
</div>
