<div class="container">
	
	<!-- Outer Row -->
	<div class="row justify-content-center">
		
		<div class="col-xl-10 col-lg-12 col-md-9">
			
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<!-- Nested Row within Card Body -->
					<div class="row">
						<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
						<div class="col-lg-6">
							<div class="p-5">
								<div class="text-center">
									
									<h1 class="h4 text-gray-900 mb-4">Instatech Inc.<br />Welcome Back!</h1>
								</div>
								<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "user"}) do |f| %>
									<%= render "users/shared/error_messages", resource: resource %>
									<div class="form-group">
										<%= f.label :email %><br />
										<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user", placeholder: "Enter Email Address..." %>
									</div>
									
									<div class="form-group">
										<%= f.label :password %><br />
										<%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-user", placeholder: "Enter Password" %>
									</div>
									
									<% if devise_mapping.rememberable? %>
										<div class="form-group">
											<%= f.check_box :remember_me  %>
											<%= f.label :remember_me %>
										</div>
									<% end %>
									<div class="actions">
										<%= f.submit "Log in", class: "btn btn-primary btn-user btn-block btn-lg" %>
									</div>
								<% end %>
								<div class="text-center"><%= render "users/shared/links" %></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	
	</div>

</div>
