

<%= form_for @todo_list do |f| %>
     <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
     </div>
     <<h1>Tasks</h1>
     <div data-controller="nested-form">
          <template data-target='nested-form.template'>
               <%= f.fields_for :tasks, Task.new, child_index: 'TEMPLATE_RECORD' do |task| %>
                    <%= render 'task_fields', f: task %>
               <% end %>
          </template>

          <%= f.fields_for :tasks do |task| %>
               <%= render 'task_fields', f: task %>
          <% end %>

          <div data-target="nested-form.add_item">
               <%= link_to "Add Task", "#", data: { action: "nested-form#add_association" } %>
          </div>
     </div>
     <%= f.submit %>
<% end %>
