
<div class='nested-fields'>
     <div class='form-group'>
          <%= f.hidden_field :_destroy %>
          <%= f.text_field :description, placeholder: 'Description', class: 'form-control' %>
          <small>
               <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %>
          </small>
     </div>
</div>
