<!--<h1>New Todo List</h1>

<%#= render 'form', todo_list: @todo_list %>

<%#= link_to 'Back', todo_lists_path %>-->
<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800"></h1>
     </div>

     <!--Start create new itinerary-->
     <div class="row">
          <div class="col-lg-12">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">Create New Itinerary</h6>
                    </div>
                    <div class="card-body">
                         <div class="card-body">
                              <h1>New Todo List</h1>

                              <%= render 'form', todo_list: @todo_list %>

                              <%= link_to 'Back', todo_lists_path %>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<!--<h1>New Todo List</h1>

<%#= render 'form', todo_list: @todo_list %>

<%#= link_to 'Back', todo_lists_path %>-->
<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800"></h1>
     </div>

     <!--Start create new itinerary-->
     <div class="row">
          <div class="col-lg-12">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">Create New Itinerary</h6>
                    </div>
                    <div class="card-body">
                         <div class="card-body">
                              <h1>New Todo List</h1>

                              <%= render 'form', todo_list: @todo_list %>

                              <%= link_to 'Back', todo_lists_path %>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
