<div class="container-fluid">
	
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Positions</h1>
	</div>
	
	
	<div class="row">
		
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Edit a Position</h6>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="p-5">
                                        <%= form_for @job, html: {class: "user"}  do |f|%>
                                             <%= render "shared/error_messages", object: f.object %>
									<div class="form-group">
										<%= f.label :position %>
										<%= f.text_field :title,  class: "form-control form-control-user", placeholder: "Position"  %>
									</div>
									
									<%= f.button :submit , class: "btn btn-primary btn-user btn-block" do %>
										<i class="fas fa-plus"></i> Save Changes
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-lg-6">
			<!-- Basic Card Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">List of Positions</h6>
				</div>
				<div class="card-body custom-hover"  >
					<% @jobs.each do |job| %>
						<div class="card mb-4 py-3 border-left-primary">
							<%= link_to job do %>
								<div class="card-body">
									<%= job.title + " (" + job.users.count.to_s + ")"%>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	
	</div>

</div>
