<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Positions</h1>
	</div>

     <% if current_user.admin2? %>
	     <div class="row">

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-6 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Number of Jobs</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">
								<p><%= Job.count %></p>
								<%= link_to new_job_path, class: "btn btn-primary btn-icon-split"  do %>
									<span class="icon text-white-50">
									<i class="fas fa-plus"></i>
									</span>
									<span class="text">Add Position</span>
								<% end %>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-calendar fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-6 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Number of Users</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">
								<p><%= User.count %><p>
                                        <% if current_user.admin2? %>
								     <%= link_to new_user_url, class:"btn btn-info btn-icon-split" do %>
									<span class="icon text-white-50">
									<i class="fas fa-plus"></i>
									</span>
									<span class="text">Add User</span>
								<% end %>
                                        <% end %>
								</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-user fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
     <% end %>
	<div class="row">
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">List of Position</h6>
				</div>
				<div class="card-body custom-hover"  >
					<% @jobs.each do |job| %>
						<div class="card mb-4 py-3 border-left-primary">
							<%= link_to job do %>
								<div class="card-body">
									<%= job.title + " (" + job.users.count.to_s + ")" %>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-lg-6">
			<!-- Basic Card Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">List of Users</h6>
				</div>
				<div class="card-body custom-hover">
					<% User.all.order(:lastname).each do |user| %>
						<div class="card mb-4 py-3 border-left-info">
							<div class="card-body">
								<%= link_to user do %>
									<%=  user.lastname + ", "  + user.firstname + " " + user.mint + " (#{user.job.title}) " %>
								<% end %>
							</div>


						</div>
					<% end %>
				</div>
			</div>
		</div>

	</div>

</div>
