<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800"></h1>
	</div>

	<div class="row">

		<div class="col-lg-6">
			<!-- Basic Card Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Position Details: <%= @job.title + " (" + @job.users.count.to_s + ")"%></h6>
				</div>
				<div class="card-body">
					<div class="row">
						<% @job.users.all.each do |user| %>
							<div class="col-lg-4 custom-hover">
								<%= link_to user do %>
									<div class="card" style="margin-bottom:15px;padding:5px">
										<%= if user.image.blank?
											    cl_image_tag("blank-user-355ba8nijgtrgca9vdzuv4_jqendn.jpg", class: "img-fluid")
										    else
											    image_tag user.image.url, class:"img-fluid"
										    end%>
										<div class="products">
											<%= "#{user.lastname + ", " + user.firstname }".truncate(20) %>
										</div>
									</div>

								<% end %>
							</div>
						<% end %>
					</div>
				</div>
				<% if @job.users.empty? %>
					<div class="card-body">
						<div class="alert alert-warning">
							<h1 class="h3 mb-0 text-gray-800 text-center" >No Records Found</h1>
						</div>
					</div>
				<% else %>
                         <% if current_user.admin2? %>
					     <div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<%= link_to edit_job_url, class: "btn btn-info btn-icon-split btn-block btn-lg"  do %>
										<span class="icon text-white-50">
										<i class="fas fa-edit"></i>
										</span>
									<span class="text">Modify</span>
								<% end %>
							</div>
                                        <div class="col-lg-6">
                                             <%= link_to job_url, method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-danger btn-icon-split btn-block btn-lg"  do %>
										<span class="icon text-white-50">
										<i class="fas fa-trash"></i>
										</span>
                                                  <span class="text">Delete</span>
                                             <% end %>
                                        </div>
						</div>
					</div>
                         <% end %>
				<% end %>
			</div>
		</div>
		<div class="col-lg-6">
			<!-- Basic Card Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">List of Positions</h6>
				</div>
				<div class="card-body custom-hover"  >
					<% @jobs.each do |job| %>
						<div class="card mb-4 py-3 border-left-primary">
							<%= link_to job do %>
								<div class="card-body">
									<%= job.title + " (" + job.users.count.to_s + ")" %>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
		</div>

	</div>
</div>
