<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Edit User</h1>
     </div>
     <div class="row">
          <div class="col-lg-8">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                    </div>
                    <div class="card-body">
                         <%= form_for @user, html: { method: :put, class: "user" } do |f| %>
                              <%= render "shared/error_messages", object: f.object%>
                              <div class="form-group row">
                                   <div class="col-sm-6 mb-3 mb-sm-0">
                                        <%= f.label :firstname, "First Name" %>
                                        <%= f.text_field :lastname,  value: current_user.lastname, class: "form-control form-control-user" %>
                                   </div>
                                   <div class="col-sm-6">
                                        <%= f.label :lastname, "Last Name" %>
                                        <%= f.text_field :firstname, value: current_user.firstname, class: "form-control form-control-user" %>
                                   </div>
                              </div>

                              <div class="form-group row">
                                   <div class="col-sm-6 mb-3 mb-sm-0">
                                        <%= f.label :mint, "Middle Name" %>
                                        <%= f.text_field :mint, value: current_user.mint, class: "form-control form-control-user" %>
                                   </div>
                                   <div class="col-sm-6">
                                        <%= f.label :email, "Email Address" %>
                                        <%= f.text_field :email, value: current_user.email, class: "form-control form-control-user" %>
                                   </div>
                              </div>
                              <div class="form-group row">
                                   <div class="col-sm-6 mb-3 mb-sm-0">
                                        <%= f.label :contactnumber, "Contact Number" %>
                                        <%= f.text_field :contactnumber, value: current_user.contactnumber, class: "form-control form-control-user" %>
                                   </div>
                                   <div class="col-sm-6">
                                        <%= f.label :position, "Position" %>
                                        <%= f.text_field :position,   value: current_user.job.title, class: "form-control form-control-user", disabled: true %>
                                   </div>
                              </div>
                              <div class="form-group">
                                   <div class="col-sm-12 mb-3 mb-sm-0">
                                        <%= f.label "Address" %>
                                        <%= f.text_field :address, value: current_user.address, class: "form-control form-control-user" %>
                                   </div>
                              </div>
                              <div class="form-group">
                                   <div class="col-sm-12 mb-3 mb-sm-0">
                                        <%= f.label :image, "Upload Image" %>
                                        <%= f.hidden_field :image_cache %>
                                        <%= f.file_field :image,  class: "form-control from-control-user", style: "border:0px;" %>
                                   </div>
                              </div>
                              <div class="form-group row">
                                   <div class="col-sm-6 mb-3 mb-sm-0">
                                        <%= f.label :password %><br /><i>(leave blank if you don't want to change it)</i>
                                        <%= f.password_field :password, class: "form-control form-control-user", autocomplete: "new-password" %>
                                        <% if @minimum_password_length %>
                                             <br />
                                             <em><%= @minimum_password_length %> characters minimum</em>
                                        <% end %>
                                   </div>
                                   <div class="col-sm-6">
                                        <%= f.label :password_confirmation %><br /><i>(leave blank if you don't want to change it)</i>
                                        <%= f.password_field :password_confirmation, class: "form-control form-control-user", autocomplete: "new-password" %>
                                   </div>
                              </div>
                              <fieldset class="form-group row">
                                   <div class="col-sm-12 mb-3 mb-sm-0">
                                        <%= f.label :current_password %>  <i>(we need your current password to confirm your changes)</i>
                                        <%= f.password_field :current_password, class: "form-control form-control-user", autocomplete: "new-password" %>
                                   </div>
                              </fieldset>
                              <%= f.button :submit, class: "btn btn-primary btn-block btn-user" do  %>
                                   <i class="fas fa-edit"></i> Edit Account
                              <% end %>
                         <% end %>
                    </div>
               </div>
          </div>
          <div class="col-lg-4">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">Profile Picture</h6>
                    </div>
                    <div class="card-body">
                         <%=  if @user.image?
                                   image_tag @user.image.url, class: "img-fluid"
                              else
                                   cl_image_tag("blank-user-355ba8nijgtrgca9vdzuv4_jqendn.jpg", class: "img-fluid")
                              end %>
                    </div>
               </div>
          </div>

     </div>
</div>
<% if false %>
     <h2>Edit <%= resource_name.to_s.humanize %></h2>

     <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field">
               <%= f.label :email %><br />
               <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
               <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
               <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
               <%= f.password_field :password, autocomplete: "new-password" %>
               <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
               <% end %>
          </div>

          <div class="field">
               <%= f.label :password_confirmation %><br />
               <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="field">
               <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
               <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>

          <div class="actions">
               <%= f.submit "Update" %>
          </div>
     <% end %>

     <h3>Cancel my account</h3>

     <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

     <%= link_to "Back", :back %>
<% end %>
