<div class="container-fluid">

     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800"></h1>
     </div>
     <% if current_user.admin2? %>
          <div class="row">
          <div class="col-xl-12 col-md-12 mb-4">
               <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Number of Users</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <p><%= User.count %><p>
                                        <%= link_to new_user_url, class:"btn btn-info btn-icon-split" do %>
									<span class="icon text-white-50">
									<i class="fas fa-plus"></i>
									</span>
                                             <span class="text">Add User</span>
                                        <% end %>
                                        </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-user fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <% end %>
     <div class="row">
          <div class="col-lg-6">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">List of Users</h6>
                    </div>
                    <div class="card-body">
                         <% @users.each do |user| %>
                              <div class="card mb-4">
                                   <%= link_to "#users".concat(user.id.to_s), class: 'd-block card-header py-3', data: {toggle: :collapse} do   %>
                                        <h5>
                                             <%= user.lastname.concat(", ").concat(user.firstname).concat(" ").concat(user.mint) %>
                                             <span class="float-right" style="font-size:1rem;">View Details</span>
                                        </h5>

                                   <% end %>
                                   <div class="collapse" id="users<%= user.id %>">
                                        <div class="card-body">
                                             Position : <%= user.job.title %><br />
                                             Email Address : <%= user.email %><br />
                                             Contact Number : <%= user.contactnumber %><br />
                                             <% if current_user.admin2?
                                                     column = "col-lg-6"
                                                else
                                                     column = "col-lg-12"
                                                end
                                             %>
                                             <div class="row justify-content-center">

                                                  <div class="<%= column %>">
                                                       <%= link_to user, class: "btn btn-primary btn-block btn-icon-split" do  %>
												<span class="icon text-white-50">
													<i class="fas fa-eye"></i>
												</span>
                                                            <span class="text">Show</span>
                                                       <% end %>
                                                  </div>

                                                  <% if current_user.admin2?  %>
                                                       <div class="col-lg-6">
                                                            <%= link_to user, method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-danger btn-block btn-icon-split"  do %>
                                                                 <span class="icon text-white-50">
                                                                      <i class="fas fa-trash"></i>
                                                                 </span>
                                                                 <span class="text">Delete</span>
                                                            <% end %>
                                                       </div>
                                                  <% end %>
                                             </div>

                                        </div>
                                   </div>
                              </div>

                         <% end %>
                    </div>
               </div>
          </div>
          <div class="col-lg-6">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">List of Users</h6>
                    </div>
                    <div class="card-body">
                         <div class="row">
                              <% @users.all.order(:lastname).each do |user| %>
                                   <div class="col-lg-4 custom-hover">
                                        <%= link_to user do %>
                                             <div class="card" style="margin-bottom:15px;padding:5px;">
                                                  <%= if user.image?
                                                           image_tag user.image.url, class: "img-fluid"
                                                      else
                                                           cl_image_tag("blank-user-355ba8nijgtrgca9vdzuv4_jqendn.jpg", class: "img-fluid")
                                                      end %>
                                                  <p class="products">
                                                       <%= user.lastname + ", " + user.firstname + " " + user.mint %><br />
                                                       <%= user.job.title %>
                                                  </p>
                                             </div>
                                        <% end %>

                                   </div>

                              <% end %>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
