<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Profile</h1>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Details</h6>
				</div>
				<div class="card-body">
			
					<form class="user">
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<label>Last Name</label>
								<input type="text" value="<%= current_user.lastname %>" class="form-control form-control-user" disabled>
							</div>
							<div class="col-sm-6">
								<label>First Name</label>
								<input type="text" value="<%= current_user.firstname %>" class="form-control form-control-user"  disabled>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<label>Middle Name</label>
								<input type="text" value="<%= current_user.mint %>" class="form-control form-control-user" disabled>
							</div>
							<div class="col-sm-6">
								<label>Email Address</label>
								<input type="text" value="<%= current_user.email %>" class="form-control form-control-user"  disabled>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<label>Contact Number</label>
								<input type="text" value="<%= current_user.contactnumber %>" class="form-control form-control-user" disabled>
							</div>
							<div class="col-sm-6">
								<label>Position</label>
								<input type="text" value="<%= current_user.job.title %>" class="form-control form-control-user"  disabled>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12 mb-3 mb-sm-0">
								<label>Address</label>
								<input type="text" value="<%= current_user.address %>" class="form-control form-control-user" disabled>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12  mb-3 mb-sm-0">
								<%= link_to  edit_user_registration_path, class: "btn btn-user btn-primary btn-block btn-lg" do %>
									<i class="fas fa-edit"></i> Edit Account
								<% end %>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Profile Picture</h6>
				</div>
				<div class="card-body">
					<%=  if current_user.image?
							image_tag current_user.image.url, style: "max-height:100%;display:block;margin:auto;max-width:100%;"
						else
							image_tag "https://res.cloudinary.com/dzhwgvtsm/image/upload/v1600794357/samples/animals/three-dogs.jpg", alt: "", style: "max-height:100%;display:block;margin:auto;max-width:100%;"
					 end %>
				</div>
			</div>
		</div>
	
	</div>
</div>
