<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Profile</h1>
	</div>
	<div class="row">

		<div class="col-lg-8">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Details</h6>
				</div>
				<div class="card-body">

					<form class="user">
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<label>Last Name</label>
								<input type="text" value="<%= @user.lastname %>" class="form-control form-control-user" disabled>
							</div>
							<div class="col-sm-6">
								<label>First Name</label>
								<input type="text" value="<%= @user.firstname %>" class="form-control form-control-user"  disabled>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<label>Middle Name</label>
								<input type="text" value="<%= @user.mint %>" class="form-control form-control-user" disabled>
							</div>
							<div class="col-sm-6">
								<label>Email Address</label>
								<input type="text" value="<%= @user.email %>" class="form-control form-control-user"  disabled>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<label>Contact Number</label>
								<input type="text" value="<%= @user.contactnumber %>" class="form-control form-control-user" disabled>
							</div>
							<div class="col-sm-6">
								<label>Position</label>
								<input type="text" value="<%= @user.job.title %>" class="form-control form-control-user"  disabled>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12 mb-3 mb-sm-0">
								<label>Address</label>
								<input type="text" value="<%= @user.address %>" class="form-control form-control-user" disabled>
							</div>
						</div>
						<% if current_user.id.eql? @user.id%>
                                   <div class="form-group row">
                                        <div class="col-sm-12  mb-3 mb-sm-0">
                                             <%= link_to edit_user_registration_url, class: "btn btn-user btn-primary btn-block btn-lg" do %>
                                                  <i class="fas fa-edit"></i> Edit Account
                                             <% end %>
                                        </div>
                                   </div>
                              <% end %>
					</form>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Profile Picture</h6>
				</div>
				<div class="card-body">
					<%=  if @user.image?
							image_tag @user.image.url, class: "img-fluid"
						else
                                   cl_image_tag("blank-user-355ba8nijgtrgca9vdzuv4_jqendn.jpg", class: "img-fluid")
						end %>
				</div>
			</div>
		</div>

	</div>
</div>

