<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Edit Customers</h1>
	</div>
	<%= form_for @customer, html: {class: "user"} do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="row">
			<div class="col-lg-12">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Business Information</h6>
					</div>
					<div class="card-body">
						<div class="card-body">
							<div class="row form-group">
								<div class="col-lg-6">
									<div class="form-group">
										<%= f.label :company, "legal name of the company".titleize %>
										<%= f.text_field :company, class: "form-control form-control-user", placeholder: "Enter company name...", autofocus: true %>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<%= f.label :year_establised, "year establised".titleize %>
										<%= f.text_field :year_establised, class:"form-control form-control-user", placeholder: "Enter year establised..."  %>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<%= f.label :no_employees, "number of employees".titleize %>
										<%= f.text_field :no_employees, class:"form-control form-control-user" , placeholder: "Enter number of employees..." %>
									</div>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-lg-12">
									<%= f.label :business_address, "business address".titleize  %>
									<%= f.text_field :business_address, class: "form-control form-control-user", placeholder: "Enter business address..." %>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-lg-3">
									<%= f.label :tel_no, "telephone number".titleize %>
									<%= f.text_field :tel_no, class: "form-control form-control-user", placeholder: "Enter telephone number..." %>
								</div>
								<div class="col-lg-3">
									<%= f.label :fax_no, "fax number".titleize %>
									<%= f.text_field :fax_no, class: "form-control form-control-user", placeholder: "Enter fax number..." %>
								</div>
								<div class="col-lg-3">
									<%= f.label :business_location, "Is your business location?".titleize %>
									<%= f.collection_select :business_location, %w[Owned Leased],:to_s, :to_s, {prompt: "Select Category"} ,{class: "form-control form-control-lg", style:"font-size:15px;height: calc(1.5em + 1.5rem + 2px);border-radius: 10rem;"} %>
								</div>
								<div class="col-lg-3">
									<%= f.label :business_year_stay, "years of stay".titleize %>
									<%= f.text_field :business_year_stay, class: "form-control-user form-control", placeholder: "Enter years of stay..." %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Residential Information</h6>
					</div>
					<div class="card-body">
						<div class="card-body">
							<div class="row form-group">
								<div class="col-lg-12">
									<%= f.label :residential_address, "residential address".titleize %>
									<%= f.text_field :residential_address, class: "form-control-user form-control", placeholder: "Enter residential address..." %>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-lg-4">
									<%= f.label :residential_tel_no, "residential telphone number".titleize  %>
									<%= f.text_field :residential_tel_no, class: "form-control form-control-user", placeholder: "Enter res telephone number..." %>
								</div>
								<div class="col-lg-4">
									<%= f.label :residential_location, "Is your residential location?".titleize %>
									<%= f.collection_select :residential_location, %w[Owned Leased], :to_s, :to_s, {prompt: "Select Category"} ,{class: "form-control form-control-lg", style:"font-size:15px;height: calc(1.5em + 1.5rem + 2px);border-radius: 10rem;"} %>
								</div>
								<div class="col-lg-4">
									<%= f.label :residential_year_stay, "years of stay".titleize %>
									<%= f.text_field :residential_year_stay, class: "form-control form-control-user", placeholder: "Enter years of stay..." %>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-lg-6">
									<%= f.label :type_business, "type of business".titleize %>
									<%= f.text_field :type_business, class: "form-control form-control-user", placeholder: "Enter type of business..."%>
								</div>
								<div class="col-lg-6">
									<%= f.label :product_lines, "product lines".titleize %>
									<%= f.text_field :product_lines, class: "form-control form-control-user", placeholder: "Enter product lines..." %>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-lg-6">
									<%= f.label :industry_affiliation, "industry affiliation".titleize %>
									<%= f.text_field :industry_affiliation, class: "form-control form-control-user", placeholder: "Enter industry affiliation..." %>
								</div>
								<div class="col-lg-6">
									<%= f.label :position, "position".titleize %>
									<%= f.text_field :position, class: "form-control form-control-user", placeholder: "Enter position..." %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Form Ownership</h6>
					</div>
					<div class="card-body">
						<div class="card-body">
							<div class="row form-group">
								<div class="col-lg-6">
									<div class="card mb-4 py-3 border-left-primary">
										<div class="card-body">
											<h6 class="m-0 font-weight-bold">Single Proprietorship</h6>
											<%= f.label :form_owner_name, "Onwner's Name".titleize %>
											<%= f.text_field :form_owner_name, class: "form-control form-control-user", placeholder: "Enter owner's name" %>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="card mb-4 py-3 border-left-primary">
										<div class="card-body">
											<h6 class="m-0 font-weight-bold">Partnership</h6>
											<%= f.label :form_partner, "partners".titleize %>
											<%= f.text_area :form_partner, rows: 4, class: "form-control", placeholder: "Enter partners name" %>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="card mb-4 py-3 border-left-primary">
										<div class="card-body">
											<h6 class="m-0 font-weight-bold">Corporation</h6>
											<div class="row form-group">
												<div class="col-lg-6">
													<%= f.label :form_corp_pres, "president".titleize %>
													<%= f.text_field :form_corp_pres, class: "form-control form-control-user", placeholder: "Enter president..." %>
												</div>
												<div class="col-lg-6">
													<%= f.label :form_corp_vp, "vice president".titleize %>
													<%= f.text_field :form_corp_vp, class: "form-control form-control-user", placeholder: "Enter vice president..." %>
												</div>
											</div>
											<div class="row form-group">
												<div class="col-lg-4">
													<%= f.label :form_corp_sec, "secretary".titleize %>
													<%= f.text_field :form_corp_sec, class: "form-control form-control-user", placeholder: "Enter secretary..." %>
												</div>
												<div class="col-lg-4">
													<%= f.label :form_corp_tres, "treasurer".titleize %>
													<%= f.text_field :form_corp_tres, class: "form-control form-control-user", placeholder: "Enter treasurer..." %>
												</div>
												<div class="col-lg-4">
													<%= f.label :form_corp_dir, "directors".titleize %>
													<%= f.text_area :form_corp_dir, rows: 4,  class: "form-control", placeholder: "Enter directors" %>
												</div>
											</div>
										
										</div>
									</div>
									<div class="row">
										<div class="col-3"></div>
										<div class="col-6">
											<%= f.button :submit, class: "btn btn-primary btn-block btn-user" do  %>
												<i class="fas fa-edit"></i> Edit Customer
											<% end  %>
										</div>
										<div class="col-3"></div>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	
	<% end %>
</div>

