<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Customers</h1>
	</div>
     <% if current_user.admin2? %>
     <div class="row">
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-6 col-md-6 mb-4">
               <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Number of Customers</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <p><%= Customer.count %></p>
                                        <%= link_to new_customer_path, class: "btn btn-primary btn-icon-split"  do %>
									<span class="icon text-white-50">
									<i class="fas fa-user"></i>
									</span>
                                             <span class="text">Add Customer</span>
                                        <% end %>
                                   </div>
                              </div>

                         </div>
                    </div>
               </div>
          </div>
          <div class="col-xl-6 col-md-6 mb-4">
               <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Summary</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        Latest customer: <%= Customer.last.company %><br />
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <% end %>

	<div class="row">
		<div class="col-lg-12">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">List of Customers</h6>
				</div>
				<div class="card-body">
					<ul class="no-bullet">
						<% @customers.order(:company).each do |customer| %>
							<%= link_to customer do %>
								<li>
									<strong><%= customer.company %></strong>, <em><%= customer.business_address %></em>
									<hr />
								</li>
							<% end %>
						<% end %>
					</ul>
					<div class="d-flex justify-content-center">
						<%= will_paginate %>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
