<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Customers</h1>
	</div>

	<form class="user">
		<!--Business Information-->
		<div class="row">
			<div class="col-lg-12">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Business Information</h6>
					</div>
					<div class="card-body">
						<div class="card-body">
							<div class="form-group row">
								<div class="col-lg-6">
									<div class="form-group">
										<label><%= "legal name of the company".titleize %></label>
										<input type="text" value="<%= @customer.company %>" class="form-control form-control-user" disabled>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<label><%= "year establised".titleize %></label>
										<input type="text" value="<%= @customer.year_establised %>" class="form-control form-control-user" disabled>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<label><%= "number of employees".titleize %></label>
										<input type="text" value="<%= @customer.year_establised %>" class="form-control form-control-user" disabled>
									</div>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-lg-12">
									<label><%= "business address".titleize  %></label>
									<input type="text" value="<%= @customer.business_address %>" class="form-control form-control-user" disabled>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-lg-3">
									<label><%= "telephone number".titleize %></label>
									<input type="text" value="<%= @customer.tel_no %>" class="form-control form-control-user" disabled>
								</div>
								<div class="col-lg-3">
									<label><%= "fax number".titleize %></label>
									<input type="text" value="<%= @customer.fax_no %>" class="form-control form-control-user" disabled>
								</div>
								<div class="col-lg-3">
									<label><%= "Is your business location?".titleize %></label>
									<input type="text" value="<%= @customer.business_location %>" class="form-control form-control-user" disabled>
								</div>
								<div class="col-lg-3">
									<label><%= "years of stay".titleize %></label>
									<input type="text" value="<%= @customer.business_year_stay %>" class="form-control form-control-user" disabled>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End of Business Information-->

		<!--Residential Information-->
		<div class="row">
			<div class="col-lg-12">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Residential Information</h6>
					</div>
					<div class="card-body">
						<div class="card-body">
							<div class="row form-group">
								<div class="col-lg-12">
									<label><%= "residential address".titleize %></label>
									<input type="text" value="<%= @customer.residential_address %>" class="form-control form-control-user" disabled>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-lg-4">
									<label><%= "residential telphone number".titleize  %></label>
									<input type="text" value="<%= @customer.residential_tel_no %>" class="form-control form-control-user" disabled>
								</div>
								<div class="col-lg-4">
									<label><%= "Is your residential location?".titleize %></label>
									<input type="text" value="<%= @customer.residential_location %>" class="form-control form-control-user" disabled>
								</div>
								<div class="col-lg-4">
									<label><%= "years of stay".titleize %></label>
									<input type="text" value="<%= @customer.residential_year_stay %>" class="form-control form-control-user" disabled>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-lg-6">
									<label><%= "type of business".titleize %></label>
									<input type="text" value="<%= @customer.type_business %>" class="form-control form-control-user" disabled>
								</div>
								<div class="col-lg-6">
									<label><%= "product lines".titleize %></label>
									<input type="text" value="<%= @customer.product_lines %>" class="form-control form-control-user" disabled>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-lg-6">
									<label><%= "industry affiliation".titleize %></label>
									<input type="text" value="<%= @customer.industry_affiliation %>" class="form-control form-control-user" disabled>
								</div>
								<div class="col-lg-6">
									<label><%= "position".titleize %></label>
									<input type="text" value="<%= @customer.position %>" class="form-control form-control-user" disabled>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End of Residential Information-->

		<!--Form Ownership-->
		<div class="row">
			<div class="col-lg-12">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Form Ownership</h6>
					</div>
					<div class="card-body">
						<div class="card-body">
							<div class="row form-group">
								<div class="col-lg-6">
									<div class="card mb-4 py-3 border-left-primary">
										<div class="card-body">
											<h6 class="m-0 font-weight-bold">Single Proprietorship</h6>
											<label><%= "Onwner's Name".titleize %></label>
											<input type="text" value="<%= @customer.form_owner_name %>" class="form-control form-control-user" disabled>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="card mb-4 py-3 border-left-primary">
										<div class="card-body">
											<h6 class="m-0 font-weight-bold">Partnership</h6>
											<label><%= "partners".titleize %></label>
											<textarea rows="4" class="form-control" disabled>
													<%= @customer.form_partner %>
											</textarea>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12">
									<div class="card mb-4 py-3 border-left-primary">
										<div class="card-body">
											<h6 class="m-0 font-weight-bold">Corporation</h6>
											<div class="row form-group">
												<div class="col-lg-6">
													<label><%= "president".titleize %></label>
													<input type="text" value="<%= @customer.form_corp_pres %>" class="form-control form-control-user" disabled>
												</div>
												<div class="col-lg-6">
													<label><%= "vice president".titleize %></label>
													<input type="text" value="<%= @customer.form_corp_vp %>" class="form-control form-control-user" disabled>
												</div>
											</div>
											<div class="row form-group">
												<div class="col-lg-4">
													<label><%= "secretary".titleize %></label>
													<input type="text" value="<%= @customer.form_corp_sec %>" class="form-control form-control-user" disabled>
												</div>
												<div class="col-lg-4">
													<label><%= "treasurer".titleize %></label>
													<input type="text" value="<%= @customer.form_corp_tres %>" class="form-control form-control-user" disabled>
												</div>
												<div class="col-lg-4">
													<label><%= "directors".titleize %></label>
													<textarea rows="4" class="form-control" style="overflow: hidden;" disabled>
															<%= @customer.form_corp_dir %>
													</textarea>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
                                   <% if current_user.admin2? %>

                                        <div class="row justify-content-center">
                                             <div class="col-6">
                                                  <%= link_to edit_customer_path, class: "btn btn-primary btn-block btn-user" do %>
                                                       <i class="fas fa-edit"></i> Edit Customer
                                                  <% end  %>
                                             </div>

                                             <div class="col-6">
                                                  <%= link_to customer_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-block btn-user" do %>
                                                       <i class="fas fa-trash"></i> Delete Customer
                                                  <% end %>
                                             </div>


                                        </div>
                                        <% end %>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End of Form Ownership-->

	</form>
</div>
