<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-2">
          <h1 class="h3 mb-0 text-gray-800">Welcome Back, <%= current_user.firstname %> !</h1>
          <%  time = Time.new %>
          <h1 class="h3 mb-0 text-gray-800">Today is <%=  time.strftime("%A %B %d, %Y") %> </h1>
     </div>

     <div class="row justify-content-center mb-3">
          <div class="col-lg-4 mb-3">
               <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Itinerary</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <%= link_to itineraries_url do %>
                                             <p class="mb-2">Total itineraries: <%= Itinerary.count %><br/>
                                        <% end %>
                                        <p class="mb-2">Total itineraries for the week: <%= Itinerary.where("iti_period_from >= ? and iti_period_to <= ?", Time.zone.now.beginning_of_week, Time.zone.now.end_of_week ).count%></p>
                                        <%= link_to current_week_itineraries_path do  %>
                                             <p class="mb-2">Itineraries for approval for the week: <%= Itinerary.where("(iti_period_from >= ? and iti_period_to <= ?) and iti_status = ?", Time.zone.now.beginning_of_week, Time.zone.now.end_of_week, false ).count %></p>
                                        <% end %>
                                        <%= link_to approved_itineraries_url do  %>
                                             <p class="mb-2">Approved itineraries for the week: <%= Itinerary.where("(iti_period_from >= ? and iti_period_to <= ?) and iti_status = ?", Time.zone.now.beginning_of_week, Time.zone.now.end_of_week, true ).count %></p>
                                        <% end %>
                                        <%= link_to rejected_itineraries_url do  %>
                                             <p class="mb-2">Rejected itineraries for the week: <%= Itinerary.where("(iti_period_from >= ? and iti_period_to <= ?) and iti_rejected = ?", Time.zone.now.beginning_of_week, Time.zone.now.end_of_week, true ).count %></p>
                                        <% end %>
                                        <h1 class="h6 mb-0 text-gray-800">For the week: <%= Time.zone.now.beginning_of_week.strftime("%B %-d, %Y").concat(" to ").concat(Time.zone.now.end_of_week.strftime("%B %-d, %Y")) %></h1>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-lg-4 mb-3">
               <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Activity</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <%= link_to activities_url do %>
                                             <p class="mb-2">Total activities: <%= Activity.count %></p>
                                        <% end %>
                                        <%= link_to for_approval_activities_url do %>
                                             <p class="mb-2">Activites for approval: <%= Activity.where(act_status: false).count %></p>
                                        <% end %>
                                        <%= link_to approved_activities_url do %>
                                             <p class="mb-2">Approved activities: <%= Activity.where(act_status: true).count %></p>
                                        <% end %>
                                        <%= link_to rejected_activities_url do %>
                                             <p class="mb-2">Rejected activities: <%= Activity.where(act_rejected: true).count %></p>
                                        <% end %>


                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-lg-4 mb-3">
               <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Report of travel and other incidental expenses</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <%= link_to expenses_url do %>
                                             <p class="mb-2">Total reports: <%= Expense.count %></p>
                                        <% end %>
                                        <%= link_to for_approval_expenses_url do %>
                                             <p class="mb-2">Reports for approval: <%= Expense.where(exp_status: false).count %></p>
                                        <% end %>
                                        <%= link_to approved_expenses_url do %>
                                             <p class="mb-2">Approved Reports: <%= Expense.where(exp_status: true).count %></p>
                                        <% end %>
                                        <%= link_to rejected_expenses_url do %>
                                             <p class="mb-2">Rejected reports: <%= Expense.where(exp_rejected: true).count %></p>
                                        <% end %>

                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

     </div>
     <div class="row justify-content-center mb-3">
          <div class="col-lg-4 mb-3">
               <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Price Recomendations</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <%= link_to recommendations_url do %>
                                             <p class="mb-2">Total price recommendations: <%= Recommendation.count %></p>
                                        <% end %>
                                        <%= link_to for_approval_recommendations_url do %>
                                             <p class="mb-2">Price recommendations for approval: <%= Recommendation.where(rec_status: false).count %></p>
                                        <% end %>
                                        <%= link_to approved_recommendations_url do %>
                                             <p class="mb-2">Approved price recommendations: <%= Recommendation.where(rec_status: true).count %></p>
                                        <% end %>
                                        <%= link_to rejected_recommendations_url do %>
                                             <p class="mb-2">Rejected price recommendations: <%= Recommendation.where(rec_rejected: true).count %></p>
                                        <% end %>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-lg-4 mb-3">
               <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Jobs</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <%= link_to jobs_url do %>
                                             <p class="mb-2">Total jobs category: <%= Job.count %></p>
                                        <% end %>
                                         <p class="mb-2">Latest added: <%= Job.last.title %></p>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-lg-4 mb-3">
               <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Users</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <%= link_to users_url do %>
                                             <p class="mb-2">Total users: <%= User.count %></p>
                                        <% end %>
                                        <%= link_to User.last do %>
                                             <% user = User.last %>
                                             <p class="mb-2">Latest added user: <%= user.lastname.concat(", ").concat(user.firstname) %></p>
                                        <% end %>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

     </div>
     <div class="row justify-content-center">
          <div class="col-lg-4">
               <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Products</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <%= link_to products_url do %>
                                             <p class="mb-2">Total products: <%= Product.count %></p>
                                        <% end %>
                                        <p class="mb-2">Latest added: <%= Product.last.name %></p>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-lg-4">
               <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Categories</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <%= link_to categories_url do %>
                                             <p class="mb-2">Total product categories <%= Category.count %></p>
                                        <% end %>
                                        <%= link_to Category.last do %>
                                             <p class="mb-2">Latest added category: <%= Category.last.name  %></p>
                                        <% end %>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-lg-4">
               <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Customers</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <%= link_to customers_url do %>
                                             <p class="mb-2">Total customers: <%= Customer.count %></p>
                                        <% end %>
                                        <%= link_to Customer.last do %>
                                             <p class="mb-1">Latest added: <%= Customer.last.company %></p>
                                        <% end %>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

     </div>
</div>
