@import "/css/sb-admin-2.min.css";

.custom-hover {

  img:hover {
    opacity: 0.5;
  }
  a {
    color: #858796;
  }
  a:hover {
    text-decoration: none;

  }
}

.products  {
    margin-bottom: 0px;
    background-color: #f2f2f2;
    padding:10px;
    text-align: center;
  }

//List style non
.no-bullet {
  list-style: none;
  padding-left: 0px;
  a  {
    color: #858796;
    :hover {
      color: #2C9FAF;
    }
  }
  li  {
    padding: 10px;
    hr {
      text-align: left;
      margin-left: 0px;
      border-style: dashed;
    }
  }
}

//itinerary hover
.itinerary-hover:hover {
  background-color: #edeeed;
}


//hide Interested party heading
@media screen and (max-width: 600px) {
  .interested-party {
    display: none;
  }
}

//sidebar background
#accordionSidebar {
  background: #006926;
}
