<div class="card shadow mb-4 border-left-primary" >
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Products</h6>
	</div>
	<div class="card-body">
		<div class="row">
			<% @category.products.all.each do |product| %>
				<div class="col-lg-2">
					<div class="card" style="padding:5px;margin-bottom:10px;">
						<%=
							if product.image.blank?
								link_to cl_image_tag("53764527_567340693748537_3930132544581795840_n_ukrhcx.jpg", class:"img-fluid")
							else
								link_to cl_image_tag(product.image.url, class:"img-fluid")
							end
						%>
						<p class="products" >
							<%= product.name.truncate(25)%><br />
							<%= product.category.name %><br />
							<%= link_to "View Details", product, class: "btn btn-primary", style: "width:80%;" %>
						</p>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
