
     <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
               <h1 class="h3 mb-0 text-gray-800"><%= @category.name %></h1>
          </div>
          <div class="row justify-content-center">
               <div class="col-lg-8">
                    <div class="card shadow mb-4 border-left-primary" >
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary"><%= @category.name %> Details</h6>
                         </div>
                         <div class="card-body">
                              <%= form_for @category, html: {class: "user"} do |f| %>
                                   <%= render 'shared/error_messages', object: f.object %>
                                   <div class="form-group row">
                                        <div class="col-lg-12">
                                             <%= f.label :name %>
                                             <%= f.text_field :name, class: "form-control form-control-user" %>
                                        </div>
                                   </div>
                                   <div class="form-group row">
                                        <div class="col-lg-12">
                                             <%= f.label :image, "Upload Image" %>
                                             <%= f.hidden_field :image_cache %>
                                             <%= f.file_field :image, class: "form-control", style: "border:0px;" %>
                                        </div>
                                   </div>
                                   <%= f.button :submit, class: "btn btn-primary btn-block btn-user" do  %>
                                        <i class="fas fa-plus"></i> Save Changes
                                   <% end %>

                              <% end %>
                         </div>
                    </div>
               </div>

          </div>
     </div>

