<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800"></h1>

	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Categories</h6>
				</div>
				<div class="card-body">
					<div class="row">
						<% @categories.each do |category| %>
							<div class="col-lg-2 custom-hover">
									<div class="card" style="padding:5px;margin-bottom:10px;">
										<%=
											if category.image.blank?
												link_to cl_image_tag("DEFAULT_kfvafo.jpg", class:"img-fluid", style: "width: 100%; height: 15vw; object-fit: cover"), category
											else
												link_to cl_image_tag(category.image.url, class:"img-fluid", style: "width: 100%; height: 15vw; object-fit: cover"), category
											end
										%>
										<p class="products" >
											<%= category.name.truncate(25)%><br />
											<%= pluralize(category.products.count, "Product") %><br />

										</p>
									</div>

							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
