<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800"><%= @category.name %></h1><br />
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card shadow mb-4 border-left-primary" >
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary"><%= @category.name %> Details</h6>
				</div>
				<div class="card-body">
					<h1 class="h3 mb-0 text-gray-800">Total number of products: <%= @category.products.count %></h1>
					<div class="row" style="margin-top: 20px;">
						<div class="col-lg-2">
							<%= link_to edit_category_url, class: "btn btn-info btn-icon-split btn-block btn-lg" do %>
								<span class="icon text-white-50">
									<i class="fas fa-edit"></i>
								</span>
								<span class="text">Modify</span>
							<% end %>
						</div>
						<% if current_user.admin? %>
                                   <div class="col-lg-2">
                                        <%= link_to @product, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-icon-split btn-block btn-lg" do %>
								<span class="icon text-white-50">
										<i class="fas fa-trash"></i>
										</span>
                                             <span class="text">Delete</span>
                                        <% end  %>
                                   </div>
                              <% end %>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card shadow mb-4 border-left-primary" >
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Products</h6>
				</div>
				<div class="card-body">
					<div class="row">
						<% @category.products.all.each do |product| %>
							<div class="col-lg-2 custom-hover">
								<div class="card" style="padding:5px;margin-bottom:10px;">
									<%=
										if product.image.blank?
											link_to cl_image_tag("53764527_567340693748537_3930132544581795840_n_ukrhcx.jpg", class:"img-fluid", style: "width: 100%; height: 15vw; object-fit: cover"), product
										else
											link_to cl_image_tag(product.image.url, class:"img-fluid", style: "width: 100%; height: 15vw; object-fit: cover"), product
										end
									%>
									<p class="products" >
										<%= product.name.truncate(25)%><br />
										<%= product.category.name %><br />
									</p>
								</div>

							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
