
<!--<div class='nested-fields'>-->
<!--     <div class='row form-group'>-->
          <%#= f.hidden_field :_destroy %>
          <%#= f.text_field :description, placeholder: 'Description', class: 'form-control' %>
<!--          <small>-->
               <%#= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %>
<!--          </small>-->
<!--     </div>-->
<!--</div>-->

<div class="nested-fields">
     <div class="row form-group">
          <div class="col-lg-1 mb-3">
               <%= f.hidden_field :_destroy %>
               <%= link_to "Remove", "#", class: "btn btn-danger btn-sm", data: { action: "click->nested-form#remove_association" } %>
          </div>
          <div class="col-lg-3 mb-3">
               <%= f.text_field :int_cust_name, class: "form-control form-control-user", placeholder: "Input Customer..." %>
          </div>
          <div class="col-lg-3 mb-3">
               <%= f.text_field :int_position, class: "form-control form-control-user", placeholder: "Input Position..." %>
          </div>
          <div class="col-lg-3 mb-3">
               <%= f.text_field :int_function, class: "form-control form-control-user", placeholder: "Input Significant Function..." %>
          </div>
          <div class="col-lg-2 mb-3">
               <%= f.text_field :int_contribution, class: "form-control form-control-user", placeholder: "Input Beneifical Contribu" %>
          </div>

     </div>
</div>

<!--<tr class="nested-fields">-->
<!--     <td>-->
<%#= link_to_remove_association "Remove", f, class: "btn btn-danger btn-sm" %>
<!--     </td>-->
<!--     <td>-->
<%#= f.text_field :int_cust_name, class: "form-control form-control-user", placeholder: "Input Customer Name..."%>
<!--     </td>-->
<!--     <td>-->
<%#= f.text_field :int_position, class: "form-control form-control-user", placeholder: "Input Position..." %>
<!--     </td>-->
<!--     <td>-->
<%#= f.text_field :int_function, class: "form-control form-control-user", placeholder: "Input Function..." %>
<!--     </td>-->
<!--     <td>-->
<%#= f.text_field :int_contribution, class: "form-control form-control-user", placeholder: "Input Contribution..." %>
<!--     </td>-->
<!--</tr>-->

<!--<tr class="nested-fields">-->
<!--     <td>-->
          <%#= link_to_remove_association "Remove", f, class: "btn btn-danger btn-sm" %>
<!--     </td>-->
<!--     <td>-->
          <%#= f.text_field :int_cust_name, class: "form-control form-control-user", placeholder: "Input Customer Name..."%>
<!--     </td>-->
<!--     <td>-->
          <%#= f.text_field :int_position, class: "form-control form-control-user", placeholder: "Input Position..." %>
<!--     </td>-->
<!--     <td>-->
          <%#= f.text_field :int_function, class: "form-control form-control-user", placeholder: "Input Function..." %>
<!--     </td>-->
<!--     <td>-->
          <%#= f.text_field :int_contribution, class: "form-control form-control-user", placeholder: "Input Contribution..." %>
<!--     </td>-->
<!--</tr>-->
