<div class="nested-fields">
     <div class="row form-group">
          <div class="col-lg-1 mb-3">
               <%= f.hidden_field :_destroy %>
               <%= link_to "Remove", "#", class: "btn btn-danger btn-sm", data: { action: "click->nested-form#remove_association" } %>
          </div>
          <div class="col-lg-3 mb-3">
               <%= f.text_field :sup_materials,class: "form-control form-control-user", placeholder: "Input material support..." %>
          </div>
          <div class="col-lg-3 mb-3">
               <%= f.text_field :sup_quantity, class: "form-control form-control-user", placeholder: "Input quantity/unit..." %>
          </div>
          <div class="col-lg-3 mb-3">
               <%= f.text_field :sup_budget, class: "form-control form-control-user", placeholder: "Input estimated budget..." %>
          </div>
          <div class="col-lg-2 mb-3">
               <%= f.text_field :sup_specification, class: "form-control form-control-user", placeholder: "Input specification..." %>
          </div>
     </div>
</div>
