<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Welcome Back, <%= current_user.firstname %> !</h1>
          <%  time = Time.new %>
          <h1 class="h3 mb-0 text-gray-800">Today is <%=  time.strftime("%A %B %d, %Y") %> </h1>
     </div>

     <!--start Number of Activity-->
     <!--Number of price recommendation-->
     <div class="row">
          <div class="col-xl-6 col-md-6 mb-4">
               <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Number of Activity</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <% count = @activities_admin.count   %>
                                        <% if count.equal? 0 %>
                                             <p>You don't have any activity created</p>
                                        <% else %>
                                             <p>You have created <%= pluralize(count, "activity") %></p>
                                        <% end %>
                                        <%= link_to new_activity_url, class: "btn btn-primary btn-icon-split"  do %>
									<span class="icon text-white-50">
									<i class="fas fa-plus"></i>
									</span>
                                             <span class="text">Create Activity</span>
                                        <% end %>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"> </i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <!--end of price recommendation-->
          <!--status of price recommendation-->
          <div class="col-xl-6 col-md-6 mb-4">
               <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Status of Activity</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <% if @activities_admin.empty?  %>
                                             <p>You don't have any activity created</p>
                                        <% else %>
                                             <p>You have <%= pluralize(@activities_admin.where(act_status: true).count, "activity") %> approved</p>
                                             <p>You have <%= pluralize(@activities_admin.where(act_status: false).count, "activity") %>waiting for approval</p>
                                        <% end %>

                                        <%= link_to  "#", class: "btn btn-success btn-icon-split", data: {toggle: "modal", target: "#searchControlNumber"} do   %>
                                             <span class="icon text-wite-50">
									<i class="fas fa-search"></i>
									</span>
                                             <span class="text">Search Control No</span>
                                        <% end %>

                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-question fa-2x text-gray-300"></i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- end of number activity-->
     <!--start display activities-->
     <div class="row justify-content-md-center" >
          <div class="col-lg-12">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary"></h6>
                    </div>
                    <% if @activities.empty?  %>
                         <div class="card-body">
                              <div class="alert alert-info py-5">
                                   <h1 class="h1 mb-0 text-gray-800 text-center">List of activities for approval is empty</h1>
                              </div>
                         </div>
                    <% end %>
                    <div class="card-body custom-hover">
                         <% @activities.each do |activity| %>
                              <% unless activity.act_rejected? %>
                                   <%= link_to activity do  %>
                                        <div class="row">
                                             <div class="col-xl-12 col-md-12 mb-4">
                                                  <div class="card border-left-primary shadow h-100 py-2 itinerary-hover">
                                                       <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                 <div class="col-lg-6">
                                                                      <h1 class="h5 mb-1 text-gray-800  mb-2">Control Number : <%= activity.act_control_no %></h1>
                                                                      <h1 class="h6 mb-0 text-gray-800  mb-2">Company Representative : <%= activity.act_rep_name %></h1>
                                                                      <h1 class="h6 mb-0 text-gray-800  mb-2">Venue : <%= activity.act_venue_place %></h1>
                                                                      <h1 class="h6 mb-0 text-gray-800  mb-2">Date : <%= activity.act_date_needed.strftime("%A %B %d, %Y") %></h1>
                                                                      <h1 class="h6 mb-0 text-gray-800  mb-2">Number of Interested Party : <%= activity.interests.count %></h1>
                                                                 </div>
                                                                 <div class="col-lg-6">
                                                                  <span>
                                                                      <%= cl_image_tag("for_approval_fwcsla", class: "float-right", :width=>200, :crop=>"scale") %>
                                                                 </span>

                                                                 </div>
                                                            </div>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   <% end %>
                              <% end %>

                         <% end %>
                    </div>
                    <%= will_paginate %>
               </div>
          </div>
     </div>

     <!--end display activity-->
</div>


<!-- Modal -->
<div class="modal fade" id="searchControlNumber" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sarch Control No</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                    </button>
               </div>
               <%= form_tag(search_control_no_activities_path, method: :get) do %>
                    <div class="modal-body">
                         <div class="row form-group">
                              <div class="col-lg-12">
                                   <%= text_field_tag(:search, params[:search], class: "form-control input-lg", placeholder: "Control no...", required: true) %>
                              </div>
                         </div>

                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         <%= submit_tag("Search", class: "btn btn-primary") %>
                    </div>
               <% end %>

          </div>
     </div>
</div>
