<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Activity Plan
          </h1>
     </div>

     <!--     Start activity plan-->
     <%= form_for @activity, html: {class:"user"} do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="row">
               <div class="col-lg-6">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Note</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <p>
                                        This form has to be submitted Seven (7) days prior to its implementation. Approval is required. Once activity plan is
                                        conducted, Activity Report and/or expenses incurred shall be submitted within 3 days after the activity is completed.

                                   </p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-lg-6">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Date Details</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group">
                                        <div class="col-lg-6">
                                             <label>Date of Request</label>
                                             <input type="text" value="<%= Time.zone.now.strftime("%A, %B %d, %Y") %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                        <div class="col-lg-6">
                                             <%= f.label :act_date_needed, "Date Need" %>
                                             <%= f.text_field :act_date_needed,
                                                              data: {
                                                                   controller: "flatpickr",
                                                                   flatpickr_date_format: "%A, %B %d, %Y, %I:%M %p",
                                                                   flatpickr_min_date: Time.zone.now,


                                                              } , class: "form-control form-control-user", placeholder: "Choose a date", style: "background:#fff;"%>

                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Company Representative</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group">
                                        <div class="col-lg-6">
                                             <%= f.label :act_rep_name, "Name" %>
                                             <%= f.text_field :act_rep_name, class: "form-control form-control-user", placeholder: "Input Name..." %>
                                        </div>
                                        <div class="col-lg-6">
                                             <%= f.label :act_rep_title, "Title" %>
                                             <%= f.text_field :act_rep_title, list: "job-title", class: "form-control form-control-user", placeholder: "Input Job title..." %>
                                             <datalist id="job-title">
                                                  <% Job.all.each do |j| %>
                                                       <option value="<%= j.title %>"></option>
                                                  <% end %>

                                             </datalist>
                                        </div>
                                   </div>
                                   <div class="row form-group">
                                        <div class="col-lg-6">
                                             <%= f.label :act_rep_department, "Assigned Department"%>
                                             <%= f.text_field :act_rep_department, class: "form-control form-control-user", placeholder: "Input Assigned Department..." %>
                                        </div>
                                        <div class="col-lg-6">
                                             <%= f.label :act_rep_head, "Department Head" %>
                                             <%= f.text_field :act_rep_head, class: "form-control form-control-user", placeholder: "Input Department Head..." %>
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Event</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group">
                                        <div class="col-lg-6 mb-3">
                                             <%= f.label :act_event_activity, "Nature of Activity" %>
                                             <%= f.text_field :act_event_activity, class: "form-control form-control-user", placeholder: "Input Nature of Activity..." %>
                                        </div>
                                        <div class="col-lg-6">
                                             <%= f.label :act_event_objective, "Objetive/Goal" %>
                                             <%= f.text_field :act_event_objective, class: "form-control form-control-user", placeholder: "Input Objective/Goal..." %>
                                        </div>
                                   </div>
                                   <div class="row form-group">
                                        <div class="col-lg-4">
                                             <%= f.label :act_event_product_line_up, "Product Line-Up (Sales and Marketing)" %>
                                             <%= f.text_field :act_event_product_line_up, class: "form-control form-control-user", placeholder: "Input Product Line-up..."%>
                                        </div>
                                        <div class="col-lg-4">
                                             <%= f.label :act_event_target, "Target/Result/Outcome" %>
                                             <%= f.text_field :act_event_target, class: "form-control form-control-user", placeholder: "Input Outcome..." %>
                                        </div>
                                        <div class="col-lg-4">
                                             <%= f.label :act_event_time_frame, "Time Frame(Montly, Quarterly, etc" %>
                                             <%= f.text_field :act_event_time_frame, class: "form-control form-control-user", placeholder: "Input Time Frame..." %>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Venue</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group">
                                        <div class="col-lg-12 mb-3">
                                             <%= f.label :act_venue_place, "Place" %>
                                             <%= f.text_field :act_venue_place, class: "form-control form-control-user", placeholder: "Input Place..." %>
                                        </div>
                                   </div>
                                   <div class="row form-group">
                                        <div class="col-lg-4">
                                             <%= f.label :act_venue_department, "Department/Section" %>
                                             <%= f.text_field  :act_venue_department, class: "form-control form-control-user", placeholder: "Input Department/Section..." %>
                                        </div>
                                        <div class="col-lg-4">
                                             <%= f.label :act_venue_date, "Date" %>
                                             <%= f.text_field :act_venue_date,
                                                              data: {
                                                                   controller: "flatpickr",
                                                                   flatpickr_date_format: "%A, %B %d, %Y, %I:%M %p",
                                                                   flatpickr_min_date: Time.zone.now,
                                                                   flatpickr_enable_time: true

                                                              } , class: "form-control form-control-user", placeholder: "Choose a date", style: "background:#fff;"%>

                                        </div>
                                        <div class="col-lg-4">
                                             <%= f.label :act_venue_participants, "No. of Participanats" %>
                                             <%= f.text_field :act_venue_participants, class: "form-control form-control-user",  placeholder: "Input No. of Participants..."  %>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Interested Party</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row interested-party">
                                        <div class="col-lg-1 mb-3" style="font-weight: bold">Action</div>
                                        <div class="col-lg-3" style="font-weight: bold">Customer Name</div>
                                        <div class="col-lg-3" style="font-weight: bold">Position</div>
                                        <div class="col-lg-3" style="font-weight: bold">Significant Function</div>
                                        <div class="col-lg-2" style="font-weight: bold">Benenficial Contribution</div>
                                   </div>

                                        <div data-controller="nested-form">
                                             <template data-target='nested-form.template'>
                                                  <%= f.fields_for :interests, Interest.new, child_index: 'TEMPLATE_RECORD' do |interest| %>
                                                       <%= render 'interest_fields', f: interest %>
                                                  <% end %>
                                             </template>
                                             <%= f.fields_for :interests do |interest| %>
                                                  <%= render 'interest_fields', f: interest %>
                                             <% end %>
                                             <div data-target="nested-form.add_item">
                                                  <%= link_to "Add Interested Party", "#", class: "btn btn-primary", data: { action: "nested-form#add_association" } %>
                                             </div>
                                        </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Support Measure</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row interested-party">
                                        <div class="col-lg-1 mb-3" style="font-weight: bold">Action</div>
                                        <div class="col-lg-3" style="font-weight: bold">Materials and/or Resources</div>
                                        <div class="col-lg-3" style="font-weight: bold">Quantity</div>
                                        <div class="col-lg-3" style="font-weight: bold">Estimated Budget</div>
                                        <div class="col-lg-2" style="font-weight: bold">Specification</div>
                                   </div>

                                   <div data-controller="nested-form">
                                        <template data-target='nested-form.template'>
                                             <%= f.fields_for :supports, Support.new, child_index: 'TEMPLATE_RECORD' do |support| %>
                                                  <%= render 'support_fields', f: support %>
                                             <% end %>
                                        </template>
                                        <%= f.fields_for :supports do |support| %>
                                             <%= render 'support_fields', f: support %>
                                        <% end %>
                                        <div data-target="nested-form.add_item">
                                             <%= link_to "Add Support Measure", "#", class: "btn btn-primary", data: { action: "nested-form#add_association" } %>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

          <div class="row">
               <div class="col-3">

               </div>
               <div class="col-6">
                    <%= f.button :submit, class: "btn btn-primary btn-block btn-user" do  %>
                         <i class="fas fa-plus"></i> Add Acivity Plan
                    <% end  %>
               </div>
               <div class="col-3"></div>
          </div>

     <% end %>
     <!--    end of activity plan-->

</div>
