<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Activity Plan
          </h1>
     </div>

     <form class="user">
          <!--Start date details-->
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Control Number and Date</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group">
                                        <div class="col-lg-4">
                                             <label>Control Number</label>
                                             <input type="text" value="<%= @activity.act_control_no %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                        <div class="col-lg-4">
                                             <label>Data Request</label>
                                             <input type="text" value="<%= @activity.created_at.strftime("%A %B %d, %Y") %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                        <div class="col-lg-4">
                                             <label>Date Needed</label>
                                             <input type="text" value="<%= @activity.act_date_needed.strftime("%A %B %d, %Y") %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
         <!-- date datails-->
         <!-- start company reprsentative-->
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Company Representative</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group">
                                        <div class="col-lg-6">
                                             <label>Name</label>
                                             <input type="text" value="<%= @activity.act_rep_name %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                        <div class="col-lg-6">
                                             <label>Title</label>
                                             <input type="text" value="<%= @activity.act_rep_title %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                   </div>  <div class="row form-group">
                                        <div class="col-lg-6">
                                             <label>Assignment Department</label>
                                             <input type="text" value="<%= @activity.act_rep_department %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                        <div class="col-lg-6">
                                             <label>Deparment Head</label>
                                             <input type="text" value="<%= @activity.act_rep_head %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>
               </div>
          </div>
         <!-- end company representative-->
          <!--start event-->
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Event</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group">
                                        <div class="col-lg-6">
                                             <label>Nature of Activity</label>
                                             <input type="text" value="<%= @activity.act_event_objective %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                        <div class="col-lg-6">
                                             <label>Objective/Goal</label>
                                             <input type="text" value="<%= @activity.act_event_activity %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                   </div>
                                   <div class="row form-group">
                                        <div class="col-lg-4">
                                             <label>Product Line-Up (Sales and Marketing</label>
                                             <input type="text" value="<%= @activity.act_event_product_line_up %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                        <div class="col-lg-4">
                                             <label>Target/Result/Outcome</label>
                                             <input type="text" value="<%= @activity.act_event_target %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                        <div class="col-lg-4">
                                             <label>Time Frame(Montly, Quarterly, etc</label>
                                             <input type="text" value="<%= @activity.act_event_time_frame %>" class="form-control form-control-user" style="background: #fff;" disabled />
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <!--end event-->
          <!--start venue-->
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Venue</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group">
                                        <div class="col-lg-12">
                                             <label>Place</label>
                                             <input type="text" value="<%= @activity.act_venue_place %>" class="form-control form-control-user" style="background: #fff" disabled />
                                        </div>
                                   </div>
                                   <div class="row form-group">
                                        <div class="col-lg-4">
                                             <label>Department/Section</label>
                                             <input type="text" value="<%= @activity.act_venue_department %>" class="form-control form-control-user" style="background: #fff" disabled />
                                        </div>
                                        <div class="col-lg-4">
                                             <label>Date</label>
                                             <input type="text" value="<%= @activity.act_venue_date.strftime("%A %B %d, %Y") %>" class="form-control form-control-user" style="background: #fff" disabled />
                                        </div>
                                        <div class="col-lg-4">
                                             <label>No. of Participants</label>
                                             <input type="text" value="<%= @activity.act_venue_participants %>" class="form-control form-control-user" style="background: #fff" disabled />
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <!--end venue-->
     </form>
    <!-- start interested party-->
     <div class="row">
          <div class="col-lg-12">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">Interested Party</h6>
                    </div>
                    <div class="card-body">
                         <div class="card-body">
                              <table class="table table-striped table-responsive-sm" >
                                   <thead>
                                        <tr>
                                             <th scope="col">#</th>
                                             <th scope="col">Customer Name</th>
                                             <th scope="col">Position</th>
                                             <th scope="col">Significant Function</th>
                                             <th scope="col">Beneficial Contribution</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <% ctr = 1 %>
                                        <% @interests.each do |interest| %>
                                             <tr>
                                                  <td><%= ctr %></td>
                                                  <td><%= interest.int_cust_name %></td>
                                                  <td><%= interest.int_position %></td>
                                                  <td><%= interest.int_function %></td>
                                                  <td><%= interest.int_contribution %></td>
                                                  <% ctr += 1 %>
                                             </tr>
                                        <% end %>
                                   </tbody>
                              </table>
                         </div>
                    </div>
               </div>
          </div>
     </div>
   <!--  end interested party-->
   <!--  Suppored Measure-->
     <div class="row">
          <div class="col-lg-12">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">Support Measure</h6>
                    </div>
                    <div class="card-body">
                         <div class="card-body">
                              <table class="table table-striped table-responsive-sm mb-3">
                                   <thead>
                                        <tr>
                                             <th scope="col">#</th>
                                             <th scope="col">Materials and/or Resources</th>
                                             <th scope="col">Quantity</th>
                                             <th scope="col">Estimated Budget</th>
                                             <th scope="col">Specification</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <% ctr = 1 %>
                                        <% @supports.each do |support| %>
                                             <tr>
                                                  <td><%= ctr %></td>
                                                  <td><%= support.sup_materials %></td>
                                                  <td><%= number_with_delimiter(support.sup_quantity) %></td>
                                                  <td><%= number_with_precision(support.sup_budget, precision: 2, delimiter: ",") %></td>
                                                  <td><%= support.sup_specification %></td>
                                                  <% ctr += 1 %>
                                             </tr>
                                        <% end %>
                                   </tbody>
                              </table>
                              <div class="row">
                                   <div class="col-lg-12">
                                        <h1 class="h5 mb-0 text-gray-800 mb-2">
                                             Prepared by: <%= @activity.user.firstname + " " + @activity.user.lastname %>
                                        </h1>
                                        <h1 class="h6 mb-0 text-gray-800">
                                             Prepared by: <%= @activity.user.job.title %>
                                        </h1>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>

    <!-- end support measire0 -->

     <!--start buttons-->
     <% disabled_button = @activity.act_status? ? "disabled" : "" %>
     <% if current_user.admin? || current_user.admin2? %>

          <div class="row">
               <div class="col-lg-6 mb-3">
                    <%= link_to approve_activity_url, class: "btn btn-primary btn-icon-split btn-block btn-lg #{disabled_button}"  do %>
                                             <span class="icon text-white-50">
                                             <i class="fas fa-thumbs-up"></i>
                                             </span>
                         <span class="text">Approve</span>
                    <% end %>

               </div>
               <div class="col-lg-6 mb-3">
                    <%= link_to reject_activity_path, class: "btn btn-secondary btn-icon-split btn-block btn-lg #{disabled_button}"  do %>
                                             <span class="icon text-white-50">
                                             <i class="fas fa-thumbs-down"></i>
                                             </span>
                         <span class="text">Reject</span>
                    <% end %>
               </div>
          </div>
     <% end %>
     <% if current_user.admin? || current_user.admin2? || current_user.activities.find_by(id: @activity.id).present? %>
          <div class="row">
               <div class="col-lg-6">
                    <%= link_to edit_activity_url, class: "btn btn-info btn-icon-split btn-block btn-lg #{disabled_button}"  do %>
                                                  <span class="icon text-white-50">
                                                  <i class="fas fa-edit"></i>
                                                  </span>
                         <span class="text">Modify</span>
                    <% end %>
              </div>
               <div class="col-lg-6">
                    <%= link_to @activity, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-icon-split btn-block btn-lg #{disabled_button}" do %>
                                                  <span class="icon text-white-50">
                                                       <i class="fas fa-trash"></i>
                                                  </span>
                         <span class="text">Delete</span>
                    <% end %>
               </div>

          </div>
     <% end %>
     <!--end buttons-->

</div>
