
<div class="nested-fields">
     <div class="card mb-4 py-3 border-left-info">
          <div class="card-body">
               <div class="row form-group mb-3">
                    <div class="col-lg-1 ">
                         <%= f.hidden_field :_destroy %>
                         <%= link_to "Remove", "#" , class: "btn btn-danger btn-sm", data:{action: "click->nested-form#remove_association"}%>
                    </div>
                    <div class="col-lg-3">
                         <%= f.label :date %>
                         <%= f.text_field :rep_date,
                                          data: {
                                               controller: "flatpickr",
                                               flatpickr_date_format: "%A, %B %d, %Y",
                                               flatpickr_min_date: Time.zone.now.at_beginning_of_week,

                                          } , class: "form-control form-control-user", placeholder: "Choose a date", style: "background:#fff;"%>

                    </div>
                    <div class="col-lg-8">
                         <%= f.label "Particular" %>
                         <%= f.text_field :rep_particular, class: "form-control form-control-user", placeholder: "Input particular...." %>
                    </div>
               </div>
               <div class="row form-group">
                    <div class="col-lg-3">
                         <%= f.label "Tranportation Expense" %>
                         <%= f.text_field :rep_transpo,  class: "form-control form-control-user", placeholder: "Input trasportation expense..." %>
                    </div>
                    <div class="col-lg-3">
                         <%= f.label "Promo Expense" %>
                         <%= f.text_field :rep_promo,  class: "form-control form-control-user", placeholder: "Input promotion expense..." %>
                    </div>
                    <div class="col-lg-3">
                         <%= f.label "Representation Expense" %>
                         <%= f.text_field :rep_repre,  class: "form-control form-control-user", placeholder: "Input representation expense..." %>
                    </div>
                    <div class="col-lg-3">
                         <%= f.label "Miscellaneous Expense" %>
                         <%= f.text_field :rep_mis, class: "form-control form-control-user", placeholder: "Input miscellaneous expense..." %>
                    </div>
               </div>
          </div>
     </div>
</div>

