<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Welcome Back, <%= current_user.firstname %> !</h1>
          <%  time = Time.new %>
          <h1 class="h3 mb-0 text-gray-800">Today is <%=  time.strftime("%A %B %d, %Y") %> </h1>
     </div>
     <div class="row">
          <!--start number of expeneses-->
          <div class="col-xl-6 col-md-6 mb-4">
               <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Number of Travel Expenses</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <% count = current_user.admin? || current_user.admin2? ? @expenses_admin.count : @expenses.count %>
                                        <% if count == 0 %>
                                             <p>You don't have any report of travel and other incidental expense created</p>
                                        <% else %>
                                             <p>You have created <%= pluralize(count, "report expense") %></p>
                                        <% end %>
                                        <%= link_to new_expense_url, class: "btn btn-primary btn-icon-split"  do %>
									<span class="icon text-white-50">
									<i class="fas fa-plus"></i>
									</span>
                                             <span class="text">Create Expenses</span>
                                        <% end %>
                                   </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-calendar fa-2x text-gray-300"> </i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <!--end of expenses-->
          <!--start status of expensees-->
          <div class="col-xl-6 col-md-6 mb-4">
               <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Status of Expenses</div>
                                   <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <% if current_user.admin? ? @expenses_admin.empty? : @expenses.empty? %>
                                             <p>You don't have any report of travel and other incidental expense created</p>
                                        <% else %>
                                             <p>You have <%= pluralize(current_user.admin? || current_user.admin2? ?  @expenses_admin.where(exp_status: true).count : @expenses.where(exp_status: true).count, "report expense" ) %> approved<p>
                                             <p>You have <%= pluralize(current_user.admin? || current_user.admin2? ?  @expenses_admin.where(exp_status: false).count : @expenses.where(exp_status: false).count, "report expense" ) %> for approval<p>
                                        <% end %>
                                        <%= link_to  "#", class: "btn btn-success btn-icon-split", data: {toggle: "modal", target: "#searchTcn"} do   %>
                                             <span class="icon text-white-50">
									<i class="fas fa-search"></i>
									</span>
                                             <span class="text">Search TCN No</span>
                                        <% end %>

                                        </div>
                              </div>
                              <div class="col-auto">
                                   <i class="fas fa-question fa-2x text-gray-300">

                                   </i>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <!--end of status of expenses-->
     </div>

     <!--start display travel expenses-->
     <div class="row justify-content-md-center" >
          <div class="col-lg-12">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">List of Travel and other Incidental Expenses</h6>
                    </div>
                    <div class="card-body custom-hover">
                         <% @expenses.each do |expense| %>
                             <%= link_to expense do  %>
                                   <div class="row">
                                        <div class="col-xl-12 col-md-12 mb-4">
                                             <div class="card border-left-primary shadow h-100 py-2 itinerary-hover">
                                                  <div class="card-body">
                                                       <div class="row no-gutters align-items-center">
                                                            <div class="col-lg-6">
                                                                 <h1 class="h4 mb-1 text-gray-800  mb-2">TCN No : <%= expense.exp_tcn %></h1>
                                                                 <h1 class="h5 mb-0 text-gray-800  mb-2">Date From : <%= expense.exp_period_from.strftime("%B %-d, %Y") %></h1>
                                                                 <h1 class="h5 mb-0 text-gray-800  mb-2">Date To : <%= expense.exp_period_to.strftime("%B %-d, %Y") %></h1>
                                                                 <% if current_user.admin? || current_user.admin2? %>
                                                                       <h1 class="h5 mb-0 text-gray-800  mb-2"><em>Prepared by: <%= expense.user.lastname.concat(", ").concat(expense.user.firstname) %></em></h1>
                                                                 <% end %>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                 <span>
                                                                      <%=
                                                                           if expense.exp_rejected?
                                                                                cl_image_tag("rejected_gicsnm", class: "float-right", :width=>200, :crop=>"scale")
                                                                           else
                                                                                if expense.exp_status?
                                                                                     cl_image_tag("approved_wruqds", class: "float-right", :width=>200, :crop=>"scale")
                                                                                else
                                                                                     cl_image_tag("for_approval_fwcsla", class: "float-right", :width=>200, :crop=>"scale")
                                                                                end
                                                                           end
                                                                      %>
                                                                 </span>

                                                            </div>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              <% end %>
                         <% end %>
                    </div>
               </div>
          </div>
     </div>
     <!--end display travel expenses-->
</div>

<!-- Modal -->
<div class="modal fade" id="searchTcn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Seach TCN No</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                    </button>
               </div>
               <%= form_tag(search_tcn_no_expenses_url, method: :get) do %>
                    <div class="modal-body">
                         <div class="row form-group">
                              <div class="col-lg-12">
                                 <%= text_field_tag(:search, params[:search], class: "form-control input-lg", placeholder: "TCN No...", required: true) %>
                              </div>
                         </div>

                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         <%= submit_tag("Search", class: "btn btn-primary") %>
                    </div>
               <% end %>

          </div>
     </div>
</div>
