<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Travel and Other Incidental Expenses
          </h1>
     </div>
     <!--start Travel and Other Incidental Expenses-->
     <%= form_for @expense, html: {class: "user"} do |f|%>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group">
                                        <div class="col-lg-4">
                                             <%= f.label :name %>
                                             <%= f.text_field :name, value: @expense.user.firstname.concat(" ").concat(@expense.user.lastname), class: "form-control form-control-user",  style: "background: #fff", disabled: true%>
                                        </div>
                                        <div class="col-lg-4">
                                             <%= f.label "Date From" %>
                                             <%= f.text_field :exp_period_from,
                                                              data: {
                                                                   controller: "flatpickr",
                                                                   flatpickr_date_format: "%A, %B %d, %Y",
                                                                   flatpickr_min_date: Time.zone.now.at_beginning_of_week,

                                                              } , class: "form-control form-control-user", placeholder: "Choose a date", style: "background:#fff;"%>
                                        </div>
                                        <div class="col-lg-4">
                                             <%= f.label "Date To" %>
                                             <%= f.text_field :exp_period_to,
                                                              data: {
                                                                   controller: "flatpickr",
                                                                   flatpickr_date_format: "%A, %B %d, %Y",
                                                                   flatpickr_min_date: Time.zone.now.at_beginning_of_week,

                                                              } , class: "form-control form-control-user", placeholder: "Choose a date", style: "background:#fff;"%>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
      <!--    start report of travel-->

          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Expenses</h6>
                         </div>
                         <div class="card-body">
                              <div data-controller="nested-form">
                                   <template data-target='nested-form.template'>
                                        <%= f.fields_for :reports, Report.new, child_index: 'TEMPLATE_RECORD' do |report| %>
                                             <%= render 'report_fields', f: report %>
                                        <% end %>
                                   </template>
                                   <%= f.fields_for :reports do |report| %>
                                        <%= render 'report_fields', f: report %>
                                   <% end %>
                                   <div data-target="nested-form.add_item">
                                        <%= link_to "Add Report Expense", "#", class: "btn btn-primary", data: { action: "nested-form#add_association" } %>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
        <!--  end report of travel-->
          <div class="row">
               <div class="col-lg-3"></div>
               <div class="col-lg-6">
                    <%= f.button :submit, class: "btn btn-primary btn-block btn-user" do   %>
                         <i class="fas fa-plus"></i> Add Report
                    <% end %>
               </div>
               <div class="col-lg-3"></div>
          </div>
     <% end %>
     <!--end Travel and Other Incidental Expenses-->
</div>
