<div class="container-fluid">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Travel and Other Incidental Expenses
          </h1>
     </div>

     <form class="user">
          <!--start details-->
          <div class="row">
               <div class="col-lg-12">
                    <div class="card shadow mb-4">
                         <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                         </div>
                         <div class="card-body">
                              <div class="card-body">
                                   <div class="row form-group">
                                        <div class="col-lg-3">
                                             <label>TCN No.</label>
                                             <input type="text" value="<%= @expense.exp_tcn %>" class="form-control form-control-user" disabled style="background: #fff;"/>
                                        </div>
                                        <div class="col-lg-3">
                                             <label>Name</label>
                                             <input type="text" value="<%= @expense.user.firstname.concat(" ").concat(@expense.user.lastname) %>" class="form-control form-control-user" disabled style="background: #fff;"/>
                                        </div>
                                        <div class="col-lg-3">
                                             <label>Date from</label>
                                             <input type="text" value="<%= @expense.exp_period_from.strftime("%A %B %d, %Y") %>" class="form-control form-control-user" disabled style="background: #fff;"/>
                                        </div>
                                        <div class="col-lg-3">
                                             <label>Date to</label>
                                             <input type="text" value="<%= @expense.exp_period_to.strftime("%A %B %d, %Y") %>" class="form-control form-control-user" disabled style="background: #fff" />
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <!--end details-->
     </form>
     <!--start expenses-->
     <div class="row">
          <div class="col-lg-12">
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-primary">Expenses</h6>
                    </div>
                    <div class="card-body">
                         <div class="card-body">
                              <div class="table-responsive">
                                   <table class="table table-striped" >
                                        <thead>
                                        <tr>
                                             <th scope="col">Date</th>
                                             <th scope="col">Particular</th>
                                             <th scope="col">Transp. Expense</th>
                                             <th scope="col">Promo Expense</th>
                                             <th scope="col">Rep'n Expense</th>
                                             <th scope="col">Misc. Expense</th>
                                             <th scope="col">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% total = 0 %>
                                        <% @expense.reports.order(:rep_date).each do |ex| %>
                                             <tr>
                                                  <td><%= ex.rep_date.strftime("%a %b %-d, '%y") %></td>
                                                  <td><%= ex.rep_particular %></td>
                                                  <td><%= number_with_precision(ex.rep_transpo, precision: 2, delimiter: ",") %></td>
                                                  <td><%= number_with_precision(ex.rep_promo, precision: 2, delimiter: ",") %></td>
                                                  <td><%= number_with_precision(ex.rep_repre, precision: 2, delimiter: ",") %></td>
                                                  <td><%= number_with_precision(ex.rep_mis, precision: 2, delimiter: ",") %></td>
                                                  <td>
                                                       <%
                                                            sum = [ex.rep_transpo, ex.rep_promo, ex.rep_repre, ex.rep_mis].sum
                                                            total += sum
                                                       %>
                                                       <%= number_with_precision(sum, precision: 2, delimiter: "," ) %></td>
                                             </tr>
                                        <% end %>
                                             <tr>
                                                  <td colspan="6" class="text-right">
                                                       <h1 class="h4 mb-0 text-gray-800 mb-2">Total: </h1>
                                                  </td>
                                                  <td>
                                                       <h1 class="h4 mb-0 text-gray-800 mb-2"><%= number_with_precision(total, precision: 2, delimiter: ",") %></h1>
                                                  </td>
                                             </tr>
                                        </tbody>
                                   </table>
                              </div>
                              <div class="row">
                                   <div class="col-lg-12">
                                        <h1 class="h5 mb-0 text-gray-800 mb-2">
                                             Prepared by: <%= @expense.user.firstname + " " + @expense.user.lastname %>
                                        </h1>
                                        <h1 class="h6 mb-0 text-gray-800">
                                             Prepared by: <%= @expense.user.job.title %>
                                        </h1>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>

          </div>

     </div>
     <!--end expenses-->
     <!--start buttons-->
     <% disabled_button = @expense.exp_status? ? "disabled" : "" %>
     <% if current_user.admin? || current_user.admin2? %>
          <div class="row">
               <div class="col-lg-6 mb-3">
                    <%= link_to approve_expense_url, class: "btn btn-primary btn-icon-split btn-block btn-lg #{disabled_button}"  do %>
                                             <span class="icon text-white-50">
                                             <i class="fas fa-thumbs-up"></i>
                                             </span>
                         <span class="text">Approve</span>
                    <% end %>

               </div>
               <div class="col-lg-6 mb-3">
                    <%= link_to reject_expense_url, class: "btn btn-secondary btn-icon-split btn-block btn-lg #{disabled_button}"  do %>
                                             <span class="icon text-white-50">
                                             <i class="fas fa-thumbs-down"></i>
                                             </span>
                         <span class="text">Reject</span>
                    <% end %>
               </div>
          </div>
     <% end %>

     <% if current_user.admin? or current_user.expenses.find_by(id: @expense.id).present? || current_user.admin2? %>
          <div class="row">
               <div class="col-lg-6">
                    <%= link_to edit_expense_url, class: "btn btn-info btn-icon-split btn-block btn-lg #{disabled_button}"  do %>
                                             <span class="icon text-white-50">
                                             <i class="fas fa-edit"></i>
                                             </span>
                         <span class="text">Modify</span>
                    <% end %>
               </div>
               <div class="col-lg-6">
                    <%= link_to @expense, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-icon-split btn-block btn-lg #{disabled_button}" do %>
                                             <span class="icon text-white-50">
                                                  <i class="fas fa-trash"></i>
                                             </span>
                         <span class="text">Delete</span>
                    <% end %>
               </div>


          </div>
     <% end %>
     <!--end buttons-->
</div>
