	<% @products.each do |product| %>
		<div class="card" style="display:inline-block;margin-bottom:10px;padding:5px;">
			<%= if product.image.blank?
				    link_to cl_image_tag("53764527_567340693748537_3930132544581795840_n_ukrhcx.jpg", style: "max-height:14.5em;max-width:14.5em;margin:auto;"),product
			    else
				    link_to cl_image_tag(product.image.url,style: "max-height:14.5em;max-width:14.5em;margin:auto;" ), product
			    end %>
			<p class="products" >
				<%= truncate(product.name, length: 20)%><br />
				<%= truncate(product.category.name, length: 15) %><br />
			</p>
		</div>
	<% end %>



