<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Edit Products</h1>
	</div>
	
	<div class="row">
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Edit a Product</h6>
				</div>
				<div class="card-body">
					<%= form_for @product, html: {class: "user"} do |f| %>
						<%= render 'shared/error_messages', object: f.object %>
						<div class="form-group row">
							<div class="col-lg-12">
								<%= f.label :name %>
								<%= f.text_field :name,  class: "form-control form-control-user", placeholder: "Enter Produc Name"  %>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12">
								<%= f.label :sku, "SKU" %>
								<%= f.text_field :sku,  class: "form-control form-control-user", placeholder: "Enter SKU"  %>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-12">
								<%= f.label :sku, "Product Category" %>
								<%= f.collection_select :category_id, Category.order(:name), :id, :name, {prompt: "Select Category"} ,{class: "form-control form-control-lg", style:"font-size:15px;height: calc(1.5em + 1.5rem + 2px);border-radius: 10rem;"}  %>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12 mb-3 mb-sm-0">
								<%= f.label :image, "Upload Image" %>
								<%= f.hidden_field :image_cache %>
								<%= f.file_field :image,  class: "form-control from-control-user", style: "border:0px;" %>
							</div>
						</div>
						<%= f.button :submit, class: "btn btn-primary btn-block btn-user" do %>
							<i class="fas fa-plus"></i> Save Changes
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Product Details</h6>
				</div>
				<div class="card-body">
					<%=  if @product.image.blank?
							cl_image_tag("53764527_567340693748537_3930132544581795840_n_ukrhcx.jpg", class: "img-fluid")
						else
							image_tag @product.image.url, class: "img-fluid"
							
						end %>
				</div>
			</div>
		</div>
	</div>
</div>
