<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Products</h1>
	</div>

     <% if current_user.admin2? %>
	     <div class="row">

	<div class="col-xl-12 col-md-12 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-s font-weight-bold text-primary text-uppercase mb-1">Number of Products </div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">
								<p><%= Product.count %></p>
								<%= link_to new_product_url, class: "btn btn-primary btn-icon-split"  do %>
									<span class="icon text-white-50">
									<i class="fas fa-plus"></i>
									</span>
									<span class="text">Add Product</span>
								<% end %>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-calendar fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
     <% end %>
	<div class="row">
		<div class="col-sm-12">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Products</h6>
				</div>
				<div class="card-body custom-hover">
					<div class="row">
						<% @products.each do |product| %>
							<div class="col-lg-2">
								<%= link_to product do %>
									<div class="card hoverable" style="margin-bottom:20px;padding:5px;">
										<%= if product.image.blank?
											    cl_image_tag("DEFAULT_kfvafo.jpg", class: "img-fluid", style: "width: 100%; height: 15vw; object-fit: cover")
										    else
											    image_tag product.image.url, class: "img-fluid", style: "width: 100%; height: 15vw; object-fit: cover"

										    end %>
										<p class="products" >
											<%= product.name.truncate(25)%><br />
											<%= product.category.name.truncate(25) %><br />
										</p>
									</div>
								<% end %>
							</div>
						<% end %>
					</div>

					<div class="d-flex justify-content-center">
						<%= will_paginate %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
