<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800"><%= @product.name %></h1>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Product Details</h6>
				</div>
				<div class="card-body">
					<form class="user">
						<div class="form-group row">
							<div class="col-sm-12 mb-3 mb-sm-0">
								<label>Product Name</label>
								<input type="text" value="<%= @product.name %>" class="form-control form-control-user" disabled>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-6 mb-3 mb-sm-0">
								<label>SKU</label>
								<input type="text" value="<%= @product.sku %>" class="form-control form-control-user" disabled>
							</div>
							<div class="col-6">
								<label>Category</label>
								<input type="text" value="<%= @product.category.name %> " class="form-control form-control-user" disabled>
							</div>
						</div>
					</form>
                         <% if current_user.admin2? %>
                              <div class="card-body">
                                   <div class="row justify-content-center">
                                        <div class="col-lg-6">
                                             <%= link_to edit_product_url, class: "btn btn-info btn-icon-split btn-block btn-lg"  do %>
                                                       <span class="icon text-white-50">
                                                       <i class="fas fa-edit"></i>
                                                       </span>
                                                  <span class="text">Modify</span>
                                             <% end %>
                                        </div>
                                             <div class="col-lg-6">
                                                  <%= link_to product_url, method: :delete, data: {confirm: "Are you sure "}, class: "btn btn-danger btn-icon-split btn-block btn-lg"  do %>
                                                       <span class="icon text-white-50">
                                                       <i class="fas fa-trash"></i>
                                                       </span>
                                                       <span class="text">Delete</span>
                                                  <% end %>
                                             </div>
                                   </div>
                              </div>
                         <% end %>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Product</h6>
				</div>
				<div class="card-body">
					<%=  if @product.image.blank?
							cl_image_tag("53764527_567340693748537_3930132544581795840_n_ukrhcx.jpg", class: "img-fluid")
						else
							image_tag @product.image.url, clas: "img-fluid"
					end %>
				</div>
			</div>
		</div>
	</div>
</div>
