<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->

     <div class="sidebar-brand-text mx-3"><%= cl_image_tag("instatech_logo_blflc7.png", class: "img-fluid mt-2") %></div>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->

          <li class="nav-item active">
               <%= link_to dashboards_url, class: "nav-link" do %>
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
               <% end %>
          </li>
    <!-- Divider -->
	<hr class="sidebar-divider">

     <li class="nav-item">
          <%= link_to itineraries_url, class: "nav-link" do %>
               <i class="fas fa-fw fa-user-cog"></i>
               <span>Itineraries</span>
          <% end %>
     </li>

     <li class="nav-item">
          <%= link_to activities_url, class: "nav-link" do %>
               <i class="fas fa-fw fa-lightbulb"></i>
               <span>Activities</span>
          <% end %>
     </li>

     <li class="nav-item">
          <%= link_to expenses_url, class: "nav-link" do %>
               <i class="fas fa-fw fa-money-check"></i>
               <span>Report Expenses</span>
          <% end %>
     </li>

     <li class="nav-item">
          <%= link_to recommendations_url, class: "nav-link" do %>
               <i class="fas fa-fw fa-money-bill"></i>
               <span>Price Recommendations</span>
          <% end %>
     </li>
	<li class="nav-item">
		<%= link_to jobs_url, class: "nav-link" do %>
			<i class="fas fa-fw fa-user-cog"></i>
			<span>Jobs</span>
		<% end %>
	</li>
	<li class="nav-item">
		<%= link_to users_url, class: "nav-link" do %>
			<i class="fas fa-users"></i>
			<span>Users</span>
		<% end %>
	</li>
	<li class="nav-item">
		<%= link_to products_url, class: "nav-link" do %>
			<i class="fas fa-syringe"></i>
			<span>Products</span>
		<% end %>
	</li>
	<li class="nav-item">
		<%= link_to categories_url, class: "nav-link" do %>
			<i class="fas fa-list"></i>
			<span>Product Categories</span>
		<% end %>
	</li>

	<li class="nav-item">
		<%= link_to customers_url, class: "nav-link" do %>
			<i class="fas fa-person-booth"></i>
			<span>Customers</span>
		<% end %>
	</li>
	<!-- Nav Item - Utilities Collapse Menu -->


</ul>
