<!DOCTYPE html>
<html>
<head>
	<title>Capstone2</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>

<body class="id-top">
	<% unless user_signed_in?  %>
		<%= yield %>
	<% else %>
		<div id="wrapper">
			<!-- Sidebar -->
			<%= render "layouts/sidebar" %>
			<!-- End of sidebar -->
			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">
				<!-- Main content -->
				<div id="content">
					<!-- Toolbar -->
					<%= render "layouts/toolbar" %>
					<!-- End of Toobar -->
					<% flash.each do |key,value| %>
						<div class="alert alert-<%= key %>">
							<%= value %>
						</div>
					<% end %>
					<%= yield %>
					<div>
					</div>
					<!-- Footer -->
					<%= debug(params) if Rails.env.development? %>
					<%= render "layouts/footer" %>
					<!-- end of Footer -->
					<!-- End of content wrapper -->
				</div>
				<!-- End of pagewrapper -->
				<!-- Scrollbar -->
				<%= render "layouts/scroll" %>
				<!-- End of Scroll -->
				<!-- Logout modal -->
				<%= render "layouts/logout_modal" %>
				<!-- End of logout modal -->
			</div>

		</div>

	<% end %>

</body>
    <footer>
		<!-- Bootstrap core JavaScript-->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="/js/sb-admin-2.min.js"></script>
		</footer>
</html>
