<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">User</h1>
	</div>
	<div class="row">
		<div class="col-lg-12">

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Add User</h6>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="p-5">
								<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "user"})  do |f| %>
									<%= render "users/shared/error_messages", resource: resource %>
									<div class="row">
										<div class="col-lg-4">
											<div class="form-group">
												<%= f.text_field :lastname, autofocus: true,  autocomplete: "Lastname", class: "form-control form-control-user", placeholder: "Last Name" %>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<%= f.text_field :firstname, autocomplete: "Firstname", class: "form-control form-control-user", placeholder: "First Name"   %>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<%= f.text_field :mint,  autocomplete: "Mint", class: "form-control form-control-user", placeholder: "Middle Initial"   %>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-4">
											<div class="form-group">
												<%= f.email_field :email, autocomplete: "Email", class: "form-control form-control-user", placeholder: "Email" %>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<%= f.text_field :contactnumber, autocomplete: "ContactNumber", class: "form-control form-control-user", placeholder: "Contact Number" %>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<%= f.collection_select :job_id, Job.order(:title), :id, :title, {prompt: "Select Job Type"}, {class: "form-control form-control-lg", style: "border-radius:10rem;font-size:.8rem;"} %>
											</div>
										</div>
									</div>
									<div class="row">
                                                  <div class="col-lg-4">
                                                  </div>
                                                  <div class="col-lg-4">
                                                       <%= f.button :submit , class: "btn btn-primary btn-user btn-block" do %>
                                                            <i class="fas fa-plus"></i> Add user
                                                       <% end %>
                                                  </div>
                                                  <div class="col-lg-4">
                                                  </div>
									</div>

								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
